Repository The-Ronin-Project/interop-ehr: changes, and which Codecov flags are due for each by the changed paths.
All: tenant, ehr, ehr-epic, fhir-ronin

codecov.yml:

codecov:
  require_ci_to_pass: true
ignore:
  - "**/SystemNormalizers"
coverage:
  status:
    default_rules:
      flag_coverage_not_uploaded_behavior: pass
    project:
      tenant:
        target: auto
        threshold: 1%
        flags:
          - tenant
      ehr:
        target: auto
        threshold: 1%
        flags:
          - ehr
      ehr-epic:
        target: auto
        threshold: 1%
        flags:
          - ehr-epic
      fhir-ronin:
        target: auto
        threshold: 1%
        flags:
          - fhir-ronin

    patch:
      tenant:
        target: 80
        threshold: 1%
        base: auto
        flags:
          - tenant
      ehr:
        target: 80
        threshold: 1%
        base: auto
        flags:
          - ehr
      ehr-epic:
        target: 80
        threshold: 1%
        base: auto
        flags:
          - ehr-epic
      fhir-ronin:
        target: 80
        threshold: 1%
        base: auto
        flags:
          - fhir-ronin

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches: null
  show_carryforward_flags: false

flags:
  tenant:
    paths:
      - interop-tenant/
    carryforward: true
  ehr:
    paths:
      - interop-ehr/
    carryforward: true
  ehr-epic:
    paths:
      - interop-ehr-epic/
    carryforward: true
  fhir-ronin:
    paths:
      - interop-fhir-ronin/
    carryforward: true

Update GHAs for move to main (#379)
  .github/workflows/create_release.yml
  .github/workflows/deploy_ehr_liquibase.yml
  .github/workflows/ehr_cerner_test.yml
  .github/workflows/ehr_epic_test.yml
  .github/workflows/ehr_test.yml
  .github/workflows/fhir_ronin_test.yml
  .github/workflows/lint.yml
  .github/workflows/snapshot_publish.yml
  .github/workflows/tenant_test.yml
  .github/workflows/upgrade_dependencies.yml
Due: none

INT-1420: Add Cerner MessageService impl (#374)
  gradle/libs.versions.toml
  interop-ehr-cerner/interop-ehr-cerner.gradle.kts
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerMessageService.kt
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerVendorFactory.kt
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/client/CernerClient.kt
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/exception/ResourceCreateException.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerMessageServiceTest.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerVendorFactoryTest.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/TestUtil.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/client/CernerClientTest.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/exception/ResourceCreateExceptionTest.kt
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/ehr.db.changelog-8.4.0.yaml
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/ehr.db.changelog-master.yaml
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/tenant-cerner/io_tenant_cerner-03.yaml
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/inputs/EHRMessageInput.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/localization/LocalizerTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninPatientTest.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/TenantServiceMappingUtils.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/CernerTenantDAO.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/binding/CernerTenantDOs.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/model/CernerTenantDO.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/model/vendor/Cerner.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/TenantServiceTest.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/data/CernerTenantDAOTest.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/model/vendor/CernerTest.kt
  interop-tenant/src/test/resources/dbunit/cerner-tenants/CernerTenants.yaml
  interop-tenant/src/test/resources/dbunit/cerner-tenants/ExpectedCernerTenantsAfterInsert.yaml
  interop-tenant/src/test/resources/dbunit/cerner-tenants/ExpectedCernerTenantsAfterUpdate.yaml
Due: tenant, ehr, fhir-ronin

[INT-1437] Switch EHR Message Input to Take FHIR ID (#380)
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerMessageService.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerMessageServiceTest.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicMessageService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicMessageServiceTest.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/inputs/EHRMessageInput.kt
  interop-ehr/src/test/kotlin/com/projectronin/interop/ehr/inputs/EHRMessageInputTest.kt
Due: ehr, ehr-epic

INT-1447: Simplify release options (#381)
  .github/workflows/create_release.yml
  .github/workflows/mark_next_release.yml
Due: none

use lt instead of le (#384)
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerAppointmentService.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerAppointmentServiceTest.kt
Due: none

INT 1474- add timestamp to date query for Cerner (#385)
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerAppointmentService.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerAppointmentServiceTest.kt
Due: none

Int 1474 timezone (#386)
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerAppointmentService.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerAppointmentServiceTest.kt
Due: none

make paging work (#387)
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/client/CernerClient.kt
Due: none

INT-1495: Only use clinical status code for Cerner Condition search (#389)
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerConditionService.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerConditionServiceTest.kt
Due: none

Int 1493 update cerner practitioner role to no op (#390)
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerPractitionerRoleService.kt
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerPractitionerService.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerPractitionerRoleServiceTest.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerPractitionerServiceTest.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicPractitionerRoleService.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/PractitionerRoleService.kt
Due: ehr, ehr-epic

INT-1453: add timestamp to mirth config (#391)
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/ehr.db.changelog-9.1.0.yaml
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/ehr.db.changelog-master.yaml
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/mirth-tenant-config/io_mirth_tenant_config-02.yaml
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/MirthTenantConfigDAO.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/binding/MirthTenantConfigDOs.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/model/MirthTenantConfigDO.kt
  interop-tenant/src/test/resources/dbunit/mirth-tenant-config/MirthTenantConfig.yaml
Due: tenant

[INT-1159] Add EncounterService, alphabetize services (#392)
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerVendorFactory.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerVendorFactoryTest.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicVendorFactory.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicVendorFactoryTest.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/factory/VendorFactory.kt
Due: ehr, ehr-epic

[INT-1159] Add support for date ranges to Epic, update Cerner Encounters (#395)
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerAppointmentService.kt
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerEncounterService.kt
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerFHIRService.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerEncounterServiceTest.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicEncounterService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/client/EpicClient.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicEncounterServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/client/EpicClientTest.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/TransformManager.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/TransformManagerTest.kt
Due: ehr-epic, fhir-ronin

[INT-1159] Revert some Epic Client Changes (#400)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicEncounterService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/client/EpicClient.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicEncounterServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/client/EpicClientTest.kt
Due: ehr-epic

INT-1492 : Diagnostic Report transform and validate (#394)
  gradle/libs.versions.toml
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerConditionServiceTest.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerFHIRServiceTest.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerMedicationStatementServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicConditionServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicFHIRServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicObservationServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicPractitionerServiceTest.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/profile/RoninProfile.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninDiagnosticReports.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/diagnosticReport/RoninDiagnosticReportLaboratory.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/diagnosticReport/RoninDiagnosticReportNoteExchange.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninDiagnosticReportsTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/diagnosticReport/RoninDiagnosticReportLaboratoryTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/diagnosticReport/RoninDiagnosticReportNoteExchangeTest.kt
Due: ehr-epic, fhir-ronin

INT-1519: Default to Unknown for when DAR is present (#401)
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninPatient.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninPatientTest.kt
Due: fhir-ronin

[INT-1525] Remove unlocalize calls (#404)
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerPatientService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicPatientService.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/util/Unlocalize.kt
Due: ehr-epic, fhir-ronin

add the Epic patient onboarded flag ID column (#405)
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/ehr.db.changelog-9.3.0.yaml
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/ehr.db.changelog-master.yaml
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/tenant-epic/io_tenant_epic-05.yaml
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/EpicTenantDAO.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/binding/EpicTenantDOs.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/model/EpicTenantDO.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/model/vendor/Epic.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/data/EpicTenantDAOTest.kt
  interop-tenant/src/test/resources/dbunit/epic-tenants/EpicTenants.yaml
Due: tenant

Update TenantServiceMappingUtils for this change (#406)
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/TenantServiceMappingUtils.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/TenantServiceTest.kt
Due: tenant

proxy-server work on the flag found ehr issues (#407)
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/TestUtil.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/model/vendor/Epic.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/TenantServiceTest.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/model/vendor/EpicTest.kt
  interop-tenant/src/test/resources/dbunit/cerner-tenants/CernerTenants.yaml
  interop-tenant/src/test/resources/dbunit/cerner-tenants/ExpectedCernerTenantsAfterInsert.yaml
  interop-tenant/src/test/resources/dbunit/cerner-tenants/ExpectedCernerTenantsAfterUpdate.yaml
  interop-tenant/src/test/resources/dbunit/cerner-tenants/Tenants.yaml
Due: tenant, ehr-epic

INT-1526 : add health concern uri check (#408)
  gradle/libs.versions.toml
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/condition/RoninConditionProblemsAndHealthConcerns.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/condition/RoninConditionProblemsAndHealthConcernsTest.kt
Due: fhir-ronin

[INT-1536] Add OnboardFlagService (#409)
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerVendorFactory.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerVendorFactoryTest.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicOnboardFlagService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicVendorFactory.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/apporchard/model/SetPatientFlagRequest.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/apporchard/model/SetPatientFlagResponse.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/client/EpicClient.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicOnboardFlagServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicVendorFactoryTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/apporchard/model/SetPatientFlagRequestTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/apporchard/model/SetPatientFlagResponseTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/client/EpicClientTest.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/OnboardFlagService.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/factory/VendorFactory.kt
Due: ehr, ehr-epic

INT-1377: add cerner medication service (#413)
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerMedicationService.kt
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerVendorFactory.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerAppointmentServiceTest.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerEncounterServiceTest.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerMedicationServiceTest.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerVendorFactoryTest.kt
Due: none

[Int 1376] implement cerner observation service (#414)
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerObservationService.kt
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerVendorFactory.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerObservationServiceTest.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerVendorFactoryTest.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicObservationService.kt
  interop-ehr/interop-ehr.gradle.kts
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/ObservationService.kt
  interop-ehr/src/test/kotlin/com/projectronin/interop/ehr/ObservationServiceTest.kt
Due: ehr, ehr-epic

Observation common validation (#415)
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/BaseRoninObservation.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/BaseRoninVitalSign.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninLaboratoryResult.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninObservation.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/BaseRoninVitalSignTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninLaboratoryResultTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninObservationTest.kt
Due: fhir-ronin

INT-1566 - RCDM update of observation vital signs (#416)
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/error/RoninInvalidDynamicValueError.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninObservations.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/BaseRoninObservation.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/BaseRoninVitalSign.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBloodPressure.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodyHeight.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodyTemperature.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodyWeight.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninHeartRate.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninLaboratoryResult.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninPulseOximetry.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninRespiratoryRate.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/BaseRoninVitalSignTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninLaboratoryResultTest.kt
Due: fhir-ronin

INT-1204 : update to MedicationRequestService (#422)
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerMedicationRequestService.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerMedicationRequestServiceTest.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicMedicationRequestService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicMedicationRequestServiceTest.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/MedicationRequestService.kt
Due: ehr, ehr-epic

INT-1591 - get ValueSet, ConceptMap from DataNormalizationRegistry (#421)
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/conceptmap/ConceptMapCache.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/conceptmap/ConceptMapClient.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/element/RoninContactPoint.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/normalization/NormalizationRegistryCache.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/normalization/NormalizationRegistryClient.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninAppointment.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/conceptmap/ConceptMapCacheTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/conceptmap/ConceptMapClientTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/element/RoninContactPointTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/normalization/NormalizationRegistryCacheTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/normalization/NormalizationRegistryClientTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninAppointmentTest.kt
Due: fhir-ronin

[INT-1558] Add HealthCheckService (#425)
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerHealthCheckService.kt
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerVendorFactory.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerHealthCheckServiceTest.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerVendorFactoryTest.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicHealthCheckService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicVendorFactory.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicHealthCheckServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicVendorFactoryTest.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/HealthCheckService.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/factory/VendorFactory.kt
Due: ehr, ehr-epic

INT-1548 - Vital Signs with getValueSet() - BSA and BMI (#427)
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/normalization/NormalizationRegistryCache.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/normalization/NormalizationRegistryClient.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/profile/RoninProfile.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninObservations.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/condition/BaseRoninCondition.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/condition/RoninConditionEncounterDiagnosis.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/condition/RoninConditionProblemsAndHealthConcerns.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/diagnosticReport/BaseRoninDiagnosticReport.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/diagnosticReport/RoninDiagnosticReportLaboratory.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/diagnosticReport/RoninDiagnosticReportNoteExchange.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/BaseRoninObservation.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/BaseRoninVitalSign.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBloodPressure.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodyMassIndex.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodySurfaceArea.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodyTemperature.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodyWeight.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninHeartRate.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninLaboratoryResult.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninPulseOximetry.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninRespiratoryRate.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/util/ValidationHelpers.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/normalization/NormalizationRegistryCacheTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/normalization/NormalizationRegistryClientTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninObservationsTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/condition/RoninConditionEncounterDiagnosisTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/condition/RoninConditionProblemsAndHealthConcernsTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/diagnosticReport/RoninDiagnosticReportLaboratoryTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/BaseRoninVitalSignTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBloodPressureTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodyHeightTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodyMassIndexTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodySurfaceAreaTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodyTemperatureTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodyWeightTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninHeartRateTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninObservationTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninPulseOximetryTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninRespiratoryRateTest.kt
Due: fhir-ronin

[INT-1614] Default Condition Search Statuses when none passed (#433)
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerConditionService.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerConditionServiceTest.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicConditionService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicConditionServiceTest.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/ConditionService.kt
  interop-ehr/src/test/kotlin/com/projectronin/interop/ehr/ConditionServiceTest.kt
Due: ehr, ehr-epic

INT-1624 Added primary key to databasechangelog table (#432)
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/databasechangelog/databasechangelog-01.yaml
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/ehr.db.changelog-9.4.1.yaml
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/ehr.db.changelog-master.yaml
Due: none

[INT-1614] Path -> Filename (#435)
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/normalization/NormalizationRegistryClient.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/normalization/NormalizationRegistryCacheTest.kt
Due: fhir-ronin

INT-1596: Add vitals codes table (#434)
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/ehr.db.changelog-9.4.0.yaml
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/ehr.db.changelog-master.yaml
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/tenant-codes/io_tenant_codes-01.yaml
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/TenantCodesDAO.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/binding/TenantCodesDOs.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/model/TenantCodesDO.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/data/TenantCodesDAOTest.kt
  interop-tenant/src/test/resources/dbunit/tenant-codes/ExpectedAfterInsert.yaml
  interop-tenant/src/test/resources/dbunit/tenant-codes/ExpectedAfterUpdate.yaml
  interop-tenant/src/test/resources/dbunit/tenant-codes/TenantCodes.yaml
Due: tenant

INT-1521 - vital-signs qualifies using 5 new INFX value sets (#429)
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/normalization/MissingNormalizationContentException.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/normalization/NormalizationRegistryClient.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBloodPressure.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodyTemperature.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninHeartRate.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninPulseOximetry.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninRespiratoryRate.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/normalization/NormalizationRegistryCacheTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/normalization/NormalizationRegistryClientTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBloodPressureTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodyTemperatureTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninHeartRateTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninPulseOximetryTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninRespiratoryRateTest.kt
Due: fhir-ronin

[INT-1614] Rework NormalizationRegistryClient reload logic (#438)
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/normalization/NormalizationRegistryCache.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/normalization/NormalizationRegistryClient.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodyMassIndex.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodySurfaceArea.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/normalization/NormalizationRegistryCacheTest.kt
Due: fhir-ronin

INT-1593: Add new vitals to observation services (#436)
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerObservationService.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerObservationServiceTest.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicObservationService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicObservationServiceTest.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/ObservationService.kt
Due: ehr, ehr-epic

INT-1579: Update to use interop-common-ktorm (#439)
  gradle/libs.versions.toml
  interop-tenant/interop-tenant.gradle.kts
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/binding/MirthTenantConfigDOs.kt
Due: tenant

Int 1603 enhance tenant config to support important tenants (#437)
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerHealthCheckService.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerHealthCheckServiceTest.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/TestUtil.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicHealthCheckService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicHealthCheckServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/TestUtil.kt
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/ehr.db.changelog-9.5.0.yaml
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/ehr.db.changelog-master.yaml
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/tenant/io_tenant-04.yaml
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/HealthCheckService.kt
  interop-ehr/src/test/kotlin/com/projectronin/interop/ehr/factory/EHRFactoryTest.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/TenantService.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/TenantServiceMappingUtils.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/TenantDAO.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/binding/TenantDOs.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/model/TenantDO.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/model/Tenant.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/TenantServiceTest.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/data/TenantDAOTest.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/model/TenantTest.kt
  interop-tenant/src/test/resources/dbunit/tenant/MonitoredTenants.yaml
Due: tenant, ehr, ehr-epic
