Repository The-Ronin-Project/interop-ehr: changes, and which Codecov flags are due for each by the changed paths.
All: tenant, ehr, ehr-epic, fhir-ronin

INT-1645: updating to Observation.code (#441)
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBloodPressure.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodyMassIndex.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodySurfaceArea.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodyTemperature.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninHeartRate.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninPulseOximetry.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninRespiratoryRate.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBloodPressureTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodyMassIndexTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodySurfaceAreaTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodyTemperatureTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninHeartRateTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninPulseOximetryTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninRespiratoryRateTest.kt
Due: fhir-ronin

INT-1638 - value sets for observation components (#444)
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBloodPressure.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninPulseOximetry.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBloodPressureTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninPulseOximetryTest.kt
Due: fhir-ronin

INT-1581: Updates to better support EHR DA (#448)
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/ProfileValidator.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/validation/ValidationClient.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/TransformManagerTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/validation/ValidationClientTest.kt
Due: fhir-ronin

INT-1651 - date param for observation search (#452)
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerObservationService.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerObservationServiceTest.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicObservationService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicObservationServiceTest.kt
  interop-ehr-epic/src/test/resources/ExampleObservationBundleWithPaging.json
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/util/DateTimeUtil.kt
  interop-ehr/src/test/kotlin/com/projectronin/interop/ehr/util/DateTimeUtilTest.kt
Due: ehr, ehr-epic

INT-1657: ronin staging related profile (#449)
  gradle/libs.versions.toml
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/profile/RoninProfile.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninObservations.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/BaseRoninObservation.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninStagingRelated.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninObservationsTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninStagingRelatedTest.kt
Due: fhir-ronin

INT-1680: Add missing primary keys (#458)
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/ehr.db.changelog-9.9.0.yaml
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/ehr.db.changelog-master.yaml
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/mirth-tenant-config/io_mirth_tenant_config-03.yaml
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/tenant-cerner/io_tenant_cerner-04.yaml
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/tenant-codes/io_tenant_codes-02.yaml
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/tenant-epic/io_tenant_epic-06.yaml
Due: none

INT-1602: Reduce log levels to prevent alerting (#462)
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerHealthCheckService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicHealthCheckService.kt
Due: ehr-epic

INT-1626 - Update Validation and Test Cases per RCDM (#463)
  gradle/libs.versions.toml
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninCarePlan.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninDocumentReference.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninEncounter.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninLocation.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninMedication.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninMedicationRequest.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninMedicationStatement.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninPatient.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/base/BaseRoninProfile.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/condition/BaseRoninCondition.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/condition/RoninConditionEncounterDiagnosis.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/condition/RoninConditionProblemsAndHealthConcerns.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/diagnosticReport/BaseRoninDiagnosticReport.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/diagnosticReport/RoninDiagnosticReportLaboratory.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/diagnosticReport/RoninDiagnosticReportNoteExchange.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/BaseRoninObservation.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/BaseRoninVitalSign.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninStagingRelated.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/util/ValidationHelpers.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/normalization/NormalizationRegistryClientTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninCarePlanTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninDocumentReferenceTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninEncounterTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninLocationTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninMedicationRequestTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninMedicationStatementTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninMedicationTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninPatientTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/condition/RoninConditionEncounterDiagnosisTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/condition/RoninConditionProblemsAndHealthConcernsTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/diagnosticReport/RoninDiagnosticReportLaboratoryTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/diagnosticReport/RoninDiagnosticReportNoteExchangeTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninLaboratoryResultTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninStagingRelatedTest.kt
Due: fhir-ronin

INT-1682: contained resource check (#466)
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninAppointment.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninCarePlan.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninDocumentReference.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninEncounter.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninLocation.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninMedication.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninMedicationRequest.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninMedicationStatement.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninOrganization.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninPatient.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninPractitioner.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninPractitionerRole.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/base/BaseRoninProfile.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/condition/BaseRoninCondition.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/diagnosticReport/BaseRoninDiagnosticReport.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/BaseRoninObservation.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/base/BaseRoninProfileTest.kt
Due: fhir-ronin

Int 1597 update proxy server tenant server to expose the new configuration (#465)
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/TenantService.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/TenantServiceTest.kt
Due: tenant

INT-1663: Add some fallback logic to epic appointment search (#474)
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerAppointmentService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentServiceTest.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/AppointmentService.kt
Due: ehr, ehr-epic

INT-1727: Updates for non-passive changes to Appointment (#473)
  gradle/libs.versions.toml
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentService.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninAppointmentTest.kt
Due: ehr-epic, fhir-ronin

INT-1776: Remove error logging from EpicAuthenticationService (#478)
  CODEOWNERS
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/auth/EpicAuthenticationService.kt
Due: ehr-epic

INT-1792: Remove improper id and extensions from Reference.reference (#479)
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/util/Localizers.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/localization/LocalizerTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/util/LocalizersTest.kt
Due: fhir-ronin

INT-1652: adding new fhir ronin generators module and ronin identifiers generator (#485)
  .github/workflows/fhir_ronin_generators_test.yml
  codecov.yml
  gradle/libs.versions.toml
  interop-fhir-ronin-generators/interop-fhir-ronin-generators.gradle.kts
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/RoninPatientGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/util/RoninContactPointGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/util/RoninIdentifiersGenerator.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/RoninPatientGeneratorTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/util/RoninContactPointGeneratorTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/util/RoninIdentifiersGeneratorTest.kt
  settings.gradle.kts
Due: none

INT-1788 - clarify NormalizationRegistryClient getter comments (#488)
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/normalization/NormalizationRegistryClient.kt
Due: fhir-ronin

INT-1826: Disable retry logic from Health Checks (#498)
  gradle/libs.versions.toml
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerFHIRService.kt
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerHealthCheckService.kt
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerPatientService.kt
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/auth/CernerAuthenticationService.kt
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/client/CernerClient.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerHealthCheckServiceTest.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerPatientServiceTest.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/auth/CernerAuthenticationServiceTest.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicFHIRService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicHealthCheckService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicPatientService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/auth/EpicAuthenticationService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicHealthCheckServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicPatientServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/auth/EpicAuthenticationServiceTest.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/auth/AuthenticationService.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/client/EHRClient.kt
Due: ehr, ehr-epic

[INT-1837] MDM Generating Service in EHR (#499)
  .github/workflows/hl7_test.yml
  codecov.yml
  gradle/libs.versions.toml
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/ehr.db.changelog-9.12.0.yaml
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/ehr.db.changelog-master.yaml
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/tenant-mdm-config/io_tenant_mdm_config-01.yaml
  interop-hl7/interop-hl7.gradle.kts
  interop-hl7/src/main/kotlin/com/interop/ehr/hl7/MDMConfigService.kt
  interop-hl7/src/main/kotlin/com/interop/ehr/hl7/MDMService.kt
  interop-hl7/src/main/kotlin/com/interop/ehr/hl7/fhir/converters/datatypes/ContactPointUtils.kt
  interop-hl7/src/main/kotlin/com/interop/ehr/hl7/fhir/converters/datatypes/DateUtils.kt
  interop-hl7/src/main/kotlin/com/interop/ehr/hl7/fhir/converters/datatypes/IdentifierUtils.kt
  interop-hl7/src/main/kotlin/com/interop/ehr/hl7/fhir/converters/datatypes/InstantUtils.kt
  interop-hl7/src/main/kotlin/com/interop/ehr/hl7/fhir/converters/resources/DocumentReferenceUtils.kt
  interop-hl7/src/test/kotlin/com/interop/ehr/hl7/MDMConfigServiceTest.kt
  interop-hl7/src/test/kotlin/com/interop/ehr/hl7/MDMServiceTest.kt
  interop-hl7/src/test/kotlin/com/interop/ehr/hl7/fhir/converters/datatypes/ContactPointUtilsTest.kt
  interop-hl7/src/test/kotlin/com/interop/ehr/hl7/fhir/converters/datatypes/DateTimeUtilsTest.kt
  interop-hl7/src/test/kotlin/com/interop/ehr/hl7/fhir/converters/datatypes/IdentifierUtilsTest.kt
  interop-hl7/src/test/kotlin/com/interop/ehr/hl7/fhir/converters/datatypes/InstantUtilsTest.kt
  interop-hl7/src/test/kotlin/com/interop/ehr/hl7/fhir/converters/resources/DocumentReferenceUtilsTest.kt
  interop-hl7/src/test/kotlin/com/interop/ehr/hl7/tenant/MDAStageHL7Test.kt
  interop-hl7/src/test/resources/mda-stage/MDM1.txt
  interop-hl7/src/test/resources/mda-stage/patient1.json
  interop-hl7/src/test/resources/mda-stage/practitioner1.json
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/TenantMDMConfigDAO.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/binding/TenantMDMConfigDOs.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/model/TenantMDMConfigDO.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/data/TenantMDMConfigDAOTest.kt
  interop-tenant/src/test/resources/dbunit/tenant-mdm-config/ExpectedAfterInsert.yaml
  interop-tenant/src/test/resources/dbunit/tenant-mdm-config/ExpectedAfterUpdate.yaml
  interop-tenant/src/test/resources/dbunit/tenant-mdm-config/TenantMDMConfig.yaml
  settings.gradle.kts
Due: tenant

[INT-1837] Change default logic for provider in HL7 (#503)
  interop-hl7/src/main/kotlin/com/interop/ehr/hl7/MDMConfigService.kt
  interop-hl7/src/test/kotlin/com/interop/ehr/hl7/MDMConfigServiceTest.kt
Due: none

INT-1831: log marker and log level update (#504)
  gradle/libs.versions.toml
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/TransformManager.kt
Due: fhir-ronin

INT-1803: remove aidbox references and swap with EHRDA (#505)
  gradle/libs.versions.toml
  interop-ehr-cerner/interop-ehr-cerner.gradle.kts
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerAppointmentService.kt
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerPatientService.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerAppointmentServiceTest.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerPatientServiceTest.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerVendorFactoryTest.kt
  interop-ehr-epic/interop-ehr-epic.gradle.kts
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicMessageService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicOnboardFlagService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicPatientService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicMessageServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicOnboardFlagServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicPatientServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicVendorFactoryTest.kt
  interop-ehr/interop-ehr.gradle.kts
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/AppointmentService.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/PatientService.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/outputs/AppointmentsWithNewPatients.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/util/EHRDAUtil.kt
  interop-ehr/src/test/kotlin/com/projectronin/interop/ehr/util/EHRDAUtilTest.kt
Due: ehr, ehr-epic

Int 1652 rcdm generator implement ronin patient (#495)
  interop-fhir-ronin-generators/interop-fhir-ronin-generators.gradle.kts
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/RoninPatient.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/RoninPatientGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/util/RoninContactPointGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/util/RoninContactPointUtil.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/util/RoninIdentifiersGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/util/RoninIdentifiersUtil.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/util/RoninMetaUtil.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/util/RoninNameUtil.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/RoninPatientGeneratorTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/RoninPatientTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/util/RoninContactPointGeneratorTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/util/RoninContactPointUtilTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/util/RoninIdentifiersGeneratorTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/util/RoninIdentifiersUtilTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/util/RoninMetaUtilTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/util/RoninNameUtilTest.kt
Due: none

INT-1804: don't stop processing for appointment references (#516)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentService.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/normalization/NormalizationRegistryClient.kt
Due: ehr-epic, fhir-ronin

INT-1835: Upgrade to RCDM 3.20.0 (#511)
  .gitignore
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/RCDMVersion.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/profile/RoninExtension.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninEncounter.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/base/BaseRoninProfile.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninEncounterTest.kt
Due: fhir-ronin

IGNORE (#518)
  .gitignore
Due: none

INT-1801 Added liquibase & dao for supporting blocked resources per t… (#519)
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/ehr.db.changelog-9.12.1.yaml
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/ehr.db.changelog-master.yaml
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/tenant-blocked-resource/io_tenant_blocked_resource-01.yaml
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/TenantBlockedResourceDAO.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/binding/TenantBlockedResourceDOs.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/model/TenantBlockedResourceDO.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/data/TenantBlockedResourceDAOTest.kt
  interop-tenant/src/test/resources/dbunit/tenant-blocked-resource/ExpectedAfterDelete.yaml
  interop-tenant/src/test/resources/dbunit/tenant-blocked-resource/ExpectedAfterInsert.yaml
  interop-tenant/src/test/resources/dbunit/tenant-blocked-resource/TenantBlockedResource.yaml
Due: tenant

[INT-1516] Add NoteService (#513)
  gradle/libs.versions.toml
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerVendorFactory.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerVendorFactoryTest.kt
  interop-ehr-epic/interop-ehr-epic.gradle.kts
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicNoteService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicVendorFactory.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicNoteServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicVendorFactoryTest.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/NoteService.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/factory/VendorFactory.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/inputs/NoteInput.kt
  interop-ehr/src/test/kotlin/com/projectronin/interop/ehr/inputs/NoteInputTest.kt
  interop-hl7/interop-hl7.gradle.kts
  interop-hl7/src/main/kotlin/com/projectronin/interop/ehr/hl7/MDMConfigService.kt
  interop-hl7/src/main/kotlin/com/projectronin/interop/ehr/hl7/MDMService.kt
  interop-hl7/src/main/kotlin/com/projectronin/interop/ehr/hl7/converters/datatypes/ContactPointUtils.kt
  interop-hl7/src/main/kotlin/com/projectronin/interop/ehr/hl7/converters/datatypes/DateUtils.kt
  interop-hl7/src/main/kotlin/com/projectronin/interop/ehr/hl7/converters/datatypes/IdentifierUtils.kt
  interop-hl7/src/main/kotlin/com/projectronin/interop/ehr/hl7/converters/datatypes/InstantUtils.kt
  interop-hl7/src/main/kotlin/com/projectronin/interop/ehr/hl7/converters/resources/DocumentReferenceUtils.kt
  interop-hl7/src/test/kotlin/com/projectronin/interop/ehr/hl7/MDMConfigServiceTest.kt
  interop-hl7/src/test/kotlin/com/projectronin/interop/ehr/hl7/MDMServiceTest.kt
  interop-hl7/src/test/kotlin/com/projectronin/interop/ehr/hl7/converters/datatypes/ContactPointUtilsTest.kt
  interop-hl7/src/test/kotlin/com/projectronin/interop/ehr/hl7/converters/datatypes/DateTimeUtilsTest.kt
  interop-hl7/src/test/kotlin/com/projectronin/interop/ehr/hl7/converters/datatypes/IdentifierUtilsTest.kt
  interop-hl7/src/test/kotlin/com/projectronin/interop/ehr/hl7/converters/datatypes/InstantUtilsTest.kt
  interop-hl7/src/test/kotlin/com/projectronin/interop/ehr/hl7/converters/resources/DocumentReferenceUtilsTest.kt
  interop-hl7/src/test/kotlin/com/projectronin/interop/ehr/hl7/tenant/MDAStageHL7Test.kt
Due: ehr, ehr-epic

INT-1550 Added Organization service for Cerner (#520)
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerOrganizationService.kt
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerVendorFactory.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerOrganizationServiceTest.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerVendorFactoryTest.kt
  interop-ehr-cerner/src/test/resources/ExampleOrganizationBundle.json
  interop-ehr-cerner/src/test/resources/ExampleOrganizationBundleWithPaging.json
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/OrganizationService.kt
Due: ehr

INT-1875: Pull back latest normalization registry (#521)
  gradle/libs.versions.toml
  interop-fhir-ronin/interop-fhir-ronin.gradle.kts
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/normalization/NormalizationRegistryCache.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/normalization/NormalizationRegistryClient.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/normalization/NormalizationRegistryCacheTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/normalization/NormalizationRegistryClientTest.kt
Due: fhir-ronin

INT-1882: Disable CodeableConcept requirement for displays until ConceptMaps are complete (#526)
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/base/BaseRoninProfile.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/base/BaseRoninProfileTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninObservationTest.kt
Due: fhir-ronin

INT-1653: Ronin Observation Generators (#494)
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/RoninPatient.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/BaseRoninObservationGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninBloodPressureGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninBodyHeightGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninBodyMassIndexGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninBodySurfaceAreaGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninBodyTemperatureGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninBodyWeightGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninHeartRateGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninLaboratoryResultGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninPulseOximetryGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninRespiratoryRateGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninStagingRelatedGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/util/RoninEffectiveUtil.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/util/RoninExtensionUtil.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/util/RoninObservationCodeUtil.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/util/RoninReferenceUtil.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/util/RoninSubjectUtil.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/BaseObservationGeneratorTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninBloodPressureGeneratorTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninBodyHeightGeneratorTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninBodyMassIndexGeneratorTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninBodySurfaceAreaGeneratorTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninBodyTemperatureGeneratorTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninBodyWeightGeneratorTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninHeartRateGeneratorTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninLaboratoryResultGeneratorTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninPulseOximetryGeneratorTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninRespiratoryRateGeneratorTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninStagingRelatedGeneratorTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/util/RoninEffectiveUtilTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/util/RoninExtensionUtilTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/util/RoninObservationCodeUtilTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/util/RoninReferenceUtilTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/util/RoninSubjectUtilTest.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/profile/RoninExtension.kt
Due: fhir-ronin

INT-1882: Disable CodeableConcept requirement for displays (#528)
  gradle/libs.versions.toml
  interop-fhir-ronin/interop-fhir-ronin.gradle.kts
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/base/BaseRoninProfile.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/base/BaseRoninProfileTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninObservationTest.kt
Due: fhir-ronin

Updated Cerner Vendor factory to use CernerOrgService (#530)
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerVendorFactory.kt
Due: none

INT-1842 - do not lazy load value sets from registry (#527)
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninStagingRelatedGenerator.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninBodyHeightGeneratorTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninBodyWeightGeneratorTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninStagingRelatedGeneratorTest.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/condition/BaseRoninCondition.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/condition/RoninConditionEncounterDiagnosis.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/condition/RoninConditionProblemsAndHealthConcerns.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/diagnosticReport/BaseRoninDiagnosticReport.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/diagnosticReport/RoninDiagnosticReportLaboratory.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/BaseRoninObservation.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/BaseRoninProfileObservation.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/BaseRoninVitalSign.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBloodPressure.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodyHeight.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodyWeight.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninLaboratoryResult.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninPulseOximetry.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninStagingRelated.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/util/ValidationHelpers.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/condition/BaseRoninConditionTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/BaseRoninObservationTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodyHeightTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodyWeightTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninStagingRelatedTest.kt
Due: fhir-ronin

Path conditions:
  tenant: any of: interop-tenant/, but not: **/SystemNormalizers
  ehr: any of: interop-ehr/, but not: **/SystemNormalizers
  ehr-epic: any of: interop-ehr-epic/, but not: **/SystemNormalizers
  fhir-ronin: any of: interop-fhir-ronin/, but not: **/SystemNormalizers
