Repository The-Ronin-Project/interop-ehr: changes, and which Codecov flags are due for each by the changed paths.
All: tenant, ehr, ehr-epic, fhir-ronin, ehr-cerner

prevent NPEs from Mirth, fix OCI key"value_set"
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninBloodPressureGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninBodyHeightGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninBodyMassIndexGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninBodySurfaceAreaGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninBodyTemperatureGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninBodyWeightGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninHeartRateGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninLaboratoryResultGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninPulseOximetryGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninRespiratoryRateGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninStagingRelatedGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/util/RoninConditionUtil.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninBloodPressureGeneratorTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninPulseOximetryGeneratorTest.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/normalization/NormalizationRegistryClient.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/validation/ValidationClient.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/element/RoninContactPointTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/normalization/NormalizationRegistryClientTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/normalization/ValueSetListTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninAppointmentTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninRequestGroupTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/BaseRoninObservationTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/BaseRoninVitalSignTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBloodPressureTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodyHeightTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodyMassIndexTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodySurfaceAreaTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodyTemperatureTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodyWeightTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninHeartRateTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninLaboratoryResultTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninPulseOximetryTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninRespiratoryRateTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninStagingRelatedTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/validation/ValidationClientTest.kt
Due: fhir-ronin

prevent NPEs from Mirth, fix OCI key"value_set" (#591)
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninBloodPressureGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninBodyHeightGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninBodyMassIndexGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninBodySurfaceAreaGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninBodyTemperatureGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninBodyWeightGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninHeartRateGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninLaboratoryResultGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninPulseOximetryGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninRespiratoryRateGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninStagingRelatedGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/util/RoninConditionUtil.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninBloodPressureGeneratorTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninPulseOximetryGeneratorTest.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/normalization/NormalizationRegistryClient.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/validation/ValidationClient.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/element/RoninContactPointTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/normalization/NormalizationRegistryClientTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/normalization/ValueSetListTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninAppointmentTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninRequestGroupTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/BaseRoninObservationTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/BaseRoninVitalSignTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBloodPressureTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodyHeightTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodyMassIndexTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodySurfaceAreaTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodyTemperatureTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodyWeightTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninHeartRateTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninLaboratoryResultTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninPulseOximetryTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninRespiratoryRateTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninStagingRelatedTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/validation/ValidationClientTest.kt
Due: fhir-ronin

INT-2079: Exclude _count when searching by _id (#592)
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerFHIRService.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerFHIRServiceTest.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerLocationServiceTest.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerOrganizationServiceTest.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerPractitionerServiceTest.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicFHIRService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicFHIRServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicLocationServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicOrganizationServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicPractitionerServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicRequestGroupTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicSTU3FHIRServiceTest.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/FHIRService.kt
  interop-ehr/src/test/kotlin/com/projectronin/interop/ehr/BaseFHIRServiceTest.kt
Due: ehr, ehr-epic, ehr-cerner

INT-2091: Allow consumer override of value and components (#595)
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninBloodPressureGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninLaboratoryResultGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninPulseOximetryGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/util/ValueUtil.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninBloodPressureGeneratorTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninLaboratoryResultGeneratorTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninPulseOximetryGeneratorTest.kt
Due: none

[INT-2060] Update EHR health checks to use OPTIONS rather than GET (#596)
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerHealthCheckService.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerHealthCheckServiceTest.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicHealthCheckService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicHealthCheckServiceTest.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/client/EHRClient.kt
Due: ehr, ehr-epic, ehr-cerner

[INT-2087] Bugfix for Cerner CarePlan dates (#594)
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerCarePlanService.kt
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerFHIRService.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerCarePlanServiceTest.kt
Due: ehr-cerner

INT-2072 Updating options implementation to not route to Patients (#598)
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerHealthCheckService.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerHealthCheckServiceTest.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicHealthCheckService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicHealthCheckServiceTest.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/client/EHRClient.kt
Due: ehr, ehr-epic, ehr-cerner

INT-2110: Some Observation cleanup to prepare for more mapping (#600)
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/BaseObservationGeneratorTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/util/RoninReferenceUtilTest.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninAppointment.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninDocumentReference.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninEncounter.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninMedication.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninPractitioner.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/base/BaseProfile.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/base/MultipleProfileResource.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/condition/BaseRoninCondition.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/BaseRoninObservation.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/BaseRoninProfileObservation.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/BaseRoninVitalSign.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodyHeight.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodyWeight.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninLaboratoryResult.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninObservation.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninStagingRelated.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninConditionsTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninDiagnosticReportsTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninObservationsTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/base/MultipleProfileResourceTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninLaboratoryResultTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninObservationTest.kt
Due: fhir-ronin

INT-2042: no-op cerner onboard (#603)
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerOnboardFlagService.kt
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerVendorFactory.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerVendorFactoryTest.kt
Due: ehr-cerner

INT-2092: Upgrade to RCDM 3.25.0 (#602)
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/RoninDocumentReference.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/RoninDocumentReferenceTest.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/RCDMVersion.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/profile/RoninExtension.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninCarePlan.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninDocumentReference.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninCarePlanTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninDocumentReferenceTest.kt
Due: fhir-ronin

INT 2127: Fall back to EHR for Patient MRN search (#607)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicOnboardFlagService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicOnboardFlagServiceTest.kt
Due: ehr-epic

[INT-2130] Change Healthcheck Endpoint (#609)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicHealthCheckService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicHealthCheckServiceTest.kt
Due: ehr-epic

adding tests (#610)
  gradle/libs.versions.toml
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninAppointment.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninAppointmentTest.kt
Due: fhir-ronin

INT-2040: Use correct value for onboard flag (#605)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicOnboardFlagService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/apporchard/model/SetSmartDataValuesRequest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicOnboardFlagServiceTest.kt
Due: ehr-epic

INT 2131: [BUG] Disable RCDM validation on Datalake Attachment URL (#612)
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicOnboardFlagServiceTest.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninDocumentReference.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninDocumentReferenceTest.kt
Due: ehr-epic, fhir-ronin

INT-2063 Implement condition to support concept mapping (#606)
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/condition/RoninConditionEncounterDiagnosisTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/condition/RoninConditionProblemsAndHealthConcernsTest.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/condition/BaseRoninCondition.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/condition/RoninConditionEncounterDiagnosis.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/condition/RoninConditionProblemsAndHealthConcerns.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/condition/BaseRoninConditionTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/condition/RoninConditionEncounterDiagnosisTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/condition/RoninConditionProblemsAndHealthConcernsTest.kt
Due: fhir-ronin

[INT-1337] Modularize spring config (#608)
  interop-ehr-cerner/interop-ehr-cerner.gradle.kts
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/spring/CernerSpringConfig.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerVendorFactoryTest.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/spring/CernerSpringConfigTest.kt
  interop-ehr-epic/interop-ehr-epic.gradle.kts
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/spring/EpicSpringConfig.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicOnboardFlagServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicVendorFactoryTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/spring/EpicSpringConfigTest.kt
  interop-ehr/interop-ehr.gradle.kts
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/spring/EHRSpringConfig.kt
  interop-ehr/src/test/kotlin/com/projectronin/interop/ehr/spring/EHRSpringConfigTest.kt
  interop-fhir-ronin/interop-fhir-ronin.gradle.kts
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/base/BaseProfile.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/spring/RoninProfileConfig.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/transform/ProfileTransformer.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/transform/TransformManager.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/spring/RoninProfileConfigTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/transform/TransformManagerTest.kt
  interop-hl7/interop-hl7.gradle.kts
  interop-hl7/src/main/kotlin/com/projectronin/interop/ehr/hl7/spring/HL7SpringConfig.kt
  interop-hl7/src/test/kotlin/com/projectronin/interop/ehr/hl7/spring/Hl7SpringConfigTest.kt
  interop-tenant/interop-tenant.gradle.kts
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/spring/TenantSpringConfig.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/spring/TenantSpringConfigTest.kt
Due: tenant, ehr, ehr-epic, fhir-ronin, ehr-cerner

[INT-1275] Deprecated appointmentsByMRNandDate in proxy fails without enough detail (#617)
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerPatientService.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerPatientServiceTest.kt
Due: ehr-cerner

INT-2153: Filter out telecoms without a system and value (#615)
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/RoninPractitionerTest.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/RCDMVersion.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/element/RoninContactPoint.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninPatient.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninPractitioner.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninPractitionerRole.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBloodPressure.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodyHeight.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodyMassIndex.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodySurfaceArea.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodyTemperature.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodyWeight.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninHeartRate.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninLaboratoryResult.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninObservation.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninPulseOximetry.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninRespiratoryRate.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninStagingRelated.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/element/RoninContactPointTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninPatientTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninPractitionerRoleTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninPractitionerTest.kt
Due: fhir-ronin

[INT-2138] Add date-based searches to MedicationRequest, MedicationStatement and Observation (#614)
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerFHIRService.kt
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerMedicationRequestService.kt
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerMedicationStatementService.kt
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerObservationService.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerMedicationRequestServiceTest.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerMedicationStatementServiceTest.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerObservationServiceTest.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicFHIRService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicMedicationRequestService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicMedicationStatementService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicObservationService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicMedicationRequestServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicMedicationStatementTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicObservationServiceTest.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/MedicationRequestService.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/MedicationStatementService.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/ObservationService.kt
  interop-ehr/src/test/kotlin/com/projectronin/interop/ehr/MedicationRequestServiceTest.kt
  interop-ehr/src/test/kotlin/com/projectronin/interop/ehr/MedicationStatementServiceTest.kt
  interop-ehr/src/test/kotlin/com/projectronin/interop/ehr/ObservationServiceTest.kt
Due: ehr, ehr-epic, ehr-cerner

INT-2196: Implement MedicationAdministration services (#619)
  gradle/libs.versions.toml
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerMedicationAdministrationService.kt
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerVendorFactory.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerMedicationAdministrationServiceTest.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerVendorFactoryTest.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicMedicationAdministrationService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicVendorFactory.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicMedicationAdministrationServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicVendorFactoryTest.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/MedicationAdministrationService.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/factory/VendorFactory.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/util/Localizers.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/localization/LocalizerTest.kt
Due: ehr, ehr-epic, fhir-ronin, ehr-cerner

[Dependency] DocumentReference.context.encounter 0..1 vs. 0..* in standards (#622)
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninDocumentReference.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninDocumentReferenceTest.kt
Due: fhir-ronin

INT-2224: Updated Normalization implementation to support both content formats (#624)
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/normalization/NormalizationRegistryClient.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/normalization/NormalizationRegistryClientTest.kt
Due: fhir-ronin

INT-2126-spike-collect-and-evaluate-the-contained-resources-from-prod (#625)
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninAppointment.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/util/ValidationHelpers.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninAppointmentTest.kt
Due: fhir-ronin

INT-2191: Added support for supplemental staging codes to the tenanat database (#623)
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/ehr.db.changelog-10.3.0.yaml
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/ehr.db.changelog-master.yaml
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/tenant-codes/io_tenant_codes-03.yaml
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/TenantCodesDAO.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/binding/TenantCodesDOs.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/model/TenantCodesDO.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/data/TenantCodesDAOTest.kt
  interop-tenant/src/test/resources/dbunit/tenant-codes/ExpectedAfterInsertingStageCodes.yaml
  interop-tenant/src/test/resources/dbunit/tenant-codes/ExpectedAfterUpdatingStageCodes.yaml
  interop-tenant/src/test/resources/dbunit/tenant-codes/TenantStageCodes.yaml
Due: tenant

INT-2191: Leverage the configured staging codes for Cerner observations (#628)
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerObservationService.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerObservationServiceTest.kt
Due: ehr-cerner

WIP
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/localization/BaseGenericTransformer.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/localization/Localizer.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/localization/Normalizer.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/localization/NormalizerTest.kt
Due: fhir-ronin

Fixed the test
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/localization/BaseGenericTransformer.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/localization/NormalizerTest.kt
Due: fhir-ronin

[BUG] INT-2246: Correct Data Authority extension validation (#634)
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/base/BaseRoninProfile.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninAppointmentTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/diagnosticReport/RoninDiagnosticReportLaboratoryTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/diagnosticReport/RoninDiagnosticReportNoteExchangeTest.kt
Due: fhir-ronin

INT-2236: Ensure complete registry reload when needed (#630)
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/normalization/NormalizationRegistryClient.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/normalization/NormalizationRegistryClientTest.kt
Due: fhir-ronin

[BUG] INT-2246: Correct Data Authority extension validation (#635)
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninAppointment.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/base/BaseRoninProfile.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninAppointmentTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/diagnosticReport/RoninDiagnosticReportLaboratoryTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/diagnosticReport/RoninDiagnosticReportNoteExchangeTest.kt
Due: fhir-ronin

INT-2154: Filter out extensions (#627)
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/localization/BaseGenericTransformer.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/localization/Localizer.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/localization/Normalizer.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/localization/LocalizerTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/localization/NormalizerTest.kt
Due: fhir-ronin

Rename FHIR generator files within interop-ehr (#636)
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/RoninAppointmentGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/RoninCarePlanGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/RoninDocumentReferenceGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/RoninLocationGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/RoninMedicationGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/RoninMedicationRequestGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/RoninMedicationStatementGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/RoninPatientGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/RoninPractitionerGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/RoninRequestGroupGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/condition/RoninConditionEncounterDiagnosisGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/condition/RoninConditionProblemsAndHealthConcernsGenerator.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/RoninAppointmentGeneratorTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/RoninCarePlanGeneratorTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/RoninDocumentReferenceGeneratorTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/RoninLocationGeneratorTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/RoninMedicationGeneratorTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/RoninMedicationRequestGeneratorTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/RoninMedicationStatementGeneratorTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/RoninPatientGeneratorTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/RoninPractitionerGeneratorTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/RoninRequestGroupGeneratorTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/condition/RoninConditionEncounterDiagnosisGeneratorTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/condition/RoninConditionProblemsAndHealthConcernsGeneratorTest.kt
Due: none

INT-2014 Added categories (without systems) to cerner doc ref service (#637)
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerDocumentReferenceService.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerDocumentReferenceTest.kt
Due: ehr-cerner

INT-2176 Adding epic order_system column for config that corresponds to a med order's id (#638)
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/ehr.db.changelog-11.3.0.yaml
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/ehr.db.changelog-master.yaml
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/tenant-epic/io_tenant_epic-07.yaml
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/EpicTenantDAO.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/binding/EpicTenantDOs.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/model/EpicTenantDO.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/data/EpicTenantDAOTest.kt
  interop-tenant/src/test/resources/dbunit/epic-tenants/EpicTenants.yaml
  interop-tenant/src/test/resources/dbunit/epic-tenants/ExpectedEpicTenantsAfterInsert.yaml
  interop-tenant/src/test/resources/dbunit/epic-tenants/ExpectedEpicTenantsAfterUpdate.yaml
Due: tenant

INT-2167: MedicationAdministraction (#632)
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/RCDMVersion.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/profile/RoninExtension.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninMedicationAdministration.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/util/MedicationUtil.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninMedicationAdministrationTest.kt
Due: fhir-ronin

[INT-2252] Populate the MedAdmin dose + unit and medication name from the Epic Med Admin History (#640)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicMedicationAdministrationService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicMedicationAdministrationServiceTest.kt
Due: ehr-epic

INT-2177 Added plumbing necessary for proxy server to leverage the new epic tenant property (#645)
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/TenantServiceMappingUtils.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/model/vendor/Epic.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/TenantServiceTest.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/model/vendor/EpicTest.kt
Due: tenant

Path conditions:
  tenant: any of: interop-tenant/, but not: **/SystemNormalizers, **/EHRClient
  ehr: any of: interop-ehr/, but not: **/SystemNormalizers, **/EHRClient
  ehr-epic: any of: interop-ehr-epic/, but not: **/SystemNormalizers, **/EHRClient
  fhir-ronin: any of: interop-fhir-ronin/, but not: **/SystemNormalizers, **/EHRClient
  ehr-cerner: any of: interop-ehr-cerner/, but not: **/SystemNormalizers, **/EHRClient
