Repository The-Ronin-Project/interop-ehr: changes, and which Codecov flags are due for each by the changed paths.
All: tenant, ehr, ehr-epic, fhir-ronin

codecov.yml:

codecov:
  require_ci_to_pass: true
ignore:
  - "**/SystemNormalizers"
coverage:
  status:
    default_rules:
      flag_coverage_not_uploaded_behavior: pass
    project:
      tenant:
        target: auto
        threshold: 1%
        flags:
          - tenant
      ehr:
        target: auto
        threshold: 1%
        flags:
          - ehr
      ehr-epic:
        target: auto
        threshold: 1%
        flags:
          - ehr-epic
      fhir-ronin:
        target: auto
        threshold: 1%
        flags:
          - fhir-ronin

    patch:
      tenant:
        target: 80
        threshold: 1%
        base: auto
        flags:
          - tenant
      ehr:
        target: 80
        threshold: 1%
        base: auto
        flags:
          - ehr
      ehr-epic:
        target: 80
        threshold: 1%
        base: auto
        flags:
          - ehr-epic
      fhir-ronin:
        target: 80
        threshold: 1%
        base: auto
        flags:
          - fhir-ronin

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches: null
  show_carryforward_flags: false

flags:
  tenant:
    paths:
      - interop-tenant/
    carryforward: true
  ehr:
    paths:
      - interop-ehr/
    carryforward: true
  ehr-epic:
    paths:
      - interop-ehr-epic/
    carryforward: true
  fhir-ronin:
    paths:
      - interop-fhir-ronin/
    carryforward: true

[INT-1288] Move Ronin Code Systems from interop-ehr to interop-fhir (#307)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentService.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/ResourceFunctions.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/code/RoninCodeSystem.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/code/RoninCodeableConcepts.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninPatient.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/base/BaseRoninProfile.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/util/IdHelpers.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/ResourceFunctionsTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/code/RoninCodeSystemTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/code/RoninCodeableConceptsTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninAppointmentTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninConditionsTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninEncounterTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninLocationTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninMedicationRequestTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninMedicationStatementTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninMedicationTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninObservationsTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninOrganizationTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninPatientTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninPractitionerRoleTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninPractitionerTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/base/BaseRoninProfileTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/condition/RoninConditionEncounterDiagnosisTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/condition/RoninConditionProblemsAndHealthConcernsTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodyHeightTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodyWeightTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninLaboratoryResultObservationTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninVitalSignsTest.kt
Due: ehr-epic, fhir-ronin

INT-1126 - use concept map lookup for RoninAppointment.status (#302)
  gradle/libs.versions.toml
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/element/RoninContactPoint.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/error/ConceptMapInvalidValueSetError.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/error/FailedConceptMapLookupError.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninAppointment.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninEncounter.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninMedication.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninOrganization.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/base/BaseRoninProfile.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodyHeight.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodyWeight.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/util/ValidationHelpers.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/conceptmap/ConceptMapCacheTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/element/RoninContactPointTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninAppointmentTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninEncounterTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninLocationTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninMedicationTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninPatientTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodyHeightTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodyWeightTest.kt
Due: fhir-ronin

INT-1282: Add span tags for SendMessage recipients and response. (#310)
  gradle/libs.versions.toml
  interop-ehr-epic/interop-ehr-epic.gradle.kts
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicMessageService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicMessageServiceTest.kt
Due: ehr-epic

INT-956: Add Validation Issue submission support (#314)
  gradle/libs.versions.toml
  interop-fhir-ronin/interop-fhir-ronin.gradle.kts
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/ProfileTransformer.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/ResourceFunctions.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/TransformManager.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/base/BaseProfile.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/base/MultipleProfileResource.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/validation/ValidationClient.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/ResourceFunctionsTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/TransformManagerTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninAppointmentTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninConditionsTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninEncounterTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninLocationTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninMedicationRequestTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninMedicationStatementTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninMedicationTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninObservationsTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninOrganizationTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninPatientTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninPractitionerRoleTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninPractitionerTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/base/BaseProfileTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/base/BaseRoninProfileTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/base/MultipleProfileResourceTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/condition/RoninConditionEncounterDiagnosisTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/condition/RoninConditionProblemsAndHealthConcernsTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodyHeightTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodyWeightTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninLaboratoryResultObservationTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninVitalSignsTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/validation/ValidationClientTest.kt
Due: fhir-ronin

use new datalake (#316)
  gradle/libs.versions.toml
Due: none

INT-1219-careplan-initial-for-resource-and-test (#301)
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninCarePlan.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninCarePlanTest.kt
Due: fhir-ronin

INT-1290-lab-observation-update (#317)
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninLaboratoryResultObservation.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninCarePlanTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninObservationsTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninLaboratoryResultObservationTest.kt
Due: fhir-ronin

INT-1249 Adding Cerner EHR Module with Auth (#309)
  .github/workflows/ehr_cerner_test.yml
  codecov.yml
  gradle/libs.versions.toml
  interop-ehr-cerner/README.md
  interop-ehr-cerner/interop-ehr-cerner.gradle.kts
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/auth/CernerAuthentication.kt
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/auth/CernerAuthenticationService.kt
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/client/CernerClient.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/TestUtil.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/auth/CernerAuthenticationServiceTest.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/auth/CernerAuthenticationTest.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/client/CernerClientTest.kt
  interop-ehr-cerner/src/test/resources/ExamplePatientResponse.json
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/auth/EpicAuthenticationService.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/EHRTenantDAOFactory.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/CernerTenantDAO.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/model/AuthenticationConfig.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/model/vendor/Cerner.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/model/vendor/Vendor.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/EHRTenantDAOFactoryTest.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/data/CernerTenantDAOTest.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/model/vendor/CernerTest.kt
  settings.gradle.kts
Due: tenant, ehr-epic

[INT-1229] Update for new publisher APIs (#319)
  gradle/libs.versions.toml
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicPatientService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicPatientServiceTest.kt
Due: ehr-epic

CernerFHIRService (#324)
  interop-ehr-cerner/interop-ehr-cerner.gradle.kts
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerFHIRService.kt
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/client/CernerClient.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerFHIRServiceTest.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/client/CernerClientTest.kt
Due: none

INT-1286: GHA to block PR merge when snapshots present (#318)
  .github/workflows/verify_mergeable.yml
Due: none

[INT-1269] CernerPatientService (#326)
  interop-ehr-cerner/interop-ehr-cerner.gradle.kts
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerFHIRService.kt
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerPatientService.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerFHIRServiceTest.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerPatientServiceTest.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/TestUtil.kt
  interop-ehr-cerner/src/test/resources/ExamplePatientBundle.json
  interop-ehr-cerner/src/test/resources/ExamplePatientBundleSingle.json
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/model/vendor/Cerner.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/model/vendor/CernerTest.kt
Due: tenant

refactor 3 existing classes, plus add the fallback (#325)
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/error/InvalidReferenceResourceTypeError.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/profile/RoninProfile.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninConditions.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninObservations.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/base/MultipleProfileResource.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/base/USCoreBasedProfile.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/BaseRoninObservation.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/BaseRoninVitalSign.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodyHeight.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodyWeight.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninLaboratoryResult.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninObservation.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninVitalSigns.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/USCoreVitalSignsValidator.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/util/ValidationHelpers.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/error/InvalidReferenceResourceTypeErrorTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninObservationsTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/base/MultipleProfileResourceTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/BaseRoninVitalSignTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodyHeightTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodyWeightTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninLaboratoryResultTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninObservationTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninVitalSignsTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/USCoreVitalSignsValidatorTest.kt
Due: fhir-ronin

INT-1298: Prevent NPE when no patient FHIR ID is found (#328)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicPatientService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicPatientServiceTest.kt
Due: ehr-epic

INT-1289 - add more ronin vital signs (#329)
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/error/RoninInvalidDynamicValueError.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninObservations.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/BaseRoninObservation.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/BaseRoninVitalSign.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBloodPressure.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodyTemperature.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodyWeight.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninHeartRate.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninLaboratoryResult.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninObservation.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninPulseOximetry.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninRespiratoryRate.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/util/ValidationHelpers.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninObservationsTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/BaseRoninVitalSignTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBloodPressureTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodyHeightTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodyTemperatureTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninHeartRateTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninLaboratoryResultTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninObservationTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninPulseOximetryTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninRespiratoryRateTest.kt
Due: fhir-ronin

INT-1267-cerner-condition-service (#327)
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerConditionService.kt
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/client/CernerClient.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerConditionServiceTest.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/TestUtil.kt
  interop-ehr-cerner/src/test/resources/ExampleConditionBundle.json
  interop-ehr-cerner/src/test/resources/ExampleConditionBundleWithPaging.json
Due: none

[INT-1302] Init Cerner DB Models (#330)
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/auth/CernerAuthenticationService.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/TestUtil.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/auth/EpicAuthenticationService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/TestUtil.kt
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/ehr.db.changelog-7.0.0.yaml
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/ehr.db.changelog-master.yaml
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/ehr/io_ehr-03.yaml
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/tenant-cerner/io_tenant_cerner-01.yaml
  interop-ehr/src/test/kotlin/com/projectronin/interop/ehr/factory/EHRFactoryTest.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/EHRTenantDAOFactory.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/TenantService.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/TenantServiceMappingUtils.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/CernerTenantDAO.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/EhrDAO.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/binding/CernerTenantDOs.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/binding/EhrDOs.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/model/CernerTenantDO.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/model/EhrDO.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/model/AuthenticationConfig.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/model/CernerAuthenticationConfig.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/model/EpicAuthenticationConfig.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/model/vendor/Cerner.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/model/vendor/Epic.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/EHRTenantDAOFactoryTest.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/TenantServiceTest.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/data/CernerTenantDAOTest.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/model/CernerAuthenticationConfigTest.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/model/EpicAuthenticationConfigTest.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/model/TenantTest.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/model/vendor/CernerTest.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/model/vendor/EpicTest.kt
  interop-tenant/src/test/resources/dbunit/cerner-tenants/CernerTenants.yaml
  interop-tenant/src/test/resources/dbunit/cerner-tenants/ExpectedCernerTenantsAfterInsert.yaml
  interop-tenant/src/test/resources/dbunit/cerner-tenants/ExpectedCernerTenantsAfterUpdate.yaml
  interop-tenant/src/test/resources/dbunit/cerner-tenants/Tenants.yaml
Due: tenant, ehr, ehr-epic

[INT-1230] Move converters to standardized files (#334)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/apporchard/model/converters/AppOrchardConverters.kt
Due: ehr-epic

initial for cerner encounter (#337)
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerEncounterService.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerEncounterServiceTest.kt
Due: none

INT-1295: Correct medication batching (#340)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicMedicationService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicMedicationServiceTest.kt
Due: ehr-epic

INT-1270-Cerner-Practitioner-Service (#333)
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerPractitionerService.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerPractitionerServiceTest.kt
  interop-ehr-cerner/src/test/resources/ExamplePractitionerBundle.json
  interop-ehr-cerner/src/test/resources/ExamplePractitionerBundlePaging.json
Due: none

[INT-1266] Add Cerner Appointment Service (#341)
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerAppointmentService.kt
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/client/CernerClient.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerAppointmentServiceTest.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/client/CernerClientTest.kt
  interop-ehr-cerner/src/test/resources/ExampleAppointmentBundle.json
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentService.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/AppointmentService.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/outputs/AppointmentsWithNewPatients.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/outputs/FindPractitionerAppointmentsResponse.kt
  interop-ehr/src/test/kotlin/com/projectronin/interop/ehr/outputs/AppointmentsWithNewPatientsTest.kt
Due: ehr, ehr-epic

Increase length of account_id and secret columns in io_ehr to support Cerner (#342)
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/ehr.db.changelog-7.0.1.yaml
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/ehr.db.changelog-master.yaml
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/ehr/io_ehr-04.yaml
Due: none

INT-1287 - fhir.r4 package structure (#331)
  gradle/libs.versions.toml
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerAppointmentService.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerAppointmentServiceTest.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerEncounterServiceTest.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerPractitionerServiceTest.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicEncounterServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicLocationServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicPractitionerServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicVendorFactoryTest.kt
  interop-ehr/src/test/kotlin/com/projectronin/interop/ehr/outputs/FindPractitionersResponseTest.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/ElementFunctions.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/ElementFunctionsTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/localization/LocalizerTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninAppointmentTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninCarePlanTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninEncounterTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninLocationTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninMedicationRequestTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninMedicationTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninOrganizationTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninPatientTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninPractitionerRoleTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninPractitionerTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/condition/RoninConditionEncounterDiagnosisTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/condition/RoninConditionProblemsAndHealthConcernsTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBloodPressureTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodyHeightTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodyTemperatureTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodyWeightTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninHeartRateTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninLaboratoryResultTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninPulseOximetryTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninRespiratoryRateTest.kt
Due: ehr, ehr-epic, fhir-ronin

INT-1370: Implement Cerner VendorFactory (#349)
  interop-ehr-cerner/interop-ehr-cerner.gradle.kts
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerVendorFactory.kt
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/client/CernerClient.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerVendorFactoryTest.kt
Due: none

Update to make io_ehr.client_id nullable (#351)
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/ehr.db.changelog-8.2.0.yaml
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/ehr.db.changelog-master.yaml
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/ehr/io_ehr-05.yaml
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/model/EhrDO.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/model/vendor/Cerner.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/model/vendor/Epic.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/model/vendor/Vendor.kt
Due: tenant

[INT-1312] Deserialize more generously for EpicAppointment (#350)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/apporchard/model/EpicAppointment.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/apporchard/model/GetAppointmentsResponse.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/apporchard/model/exceptions/AppOrchardError.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/apporchard/exceptions/AppOrchardErrorTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/apporchard/model/EpicAppointmentTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/apporchard/model/GetAppointmentResponseTest.kt
Due: ehr-epic

INT-1202 initial for medication request service (#346)
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerEncounterService.kt
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerMedicationRequestService.kt
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerVendorFactory.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerMedicationRequestServiceTest.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerVendorFactoryTest.kt
  interop-ehr-cerner/src/test/resources/ExampleMedicalRequestByIdResponse.json
  interop-ehr-cerner/src/test/resources/ExampleMedicationRequestPatientIdBundle.json
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicMedicationRequestService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicVendorFactory.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicMedicationRequestServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicVendorFactoryTest.kt
  interop-ehr-epic/src/test/resources/ExampleMedicationRequestBundle.json
  interop-ehr-epic/src/test/resources/ExampleMedicationRequestById.json
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/MedicationRequestService.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/factory/VendorFactory.kt
Due: ehr, ehr-epic

QUAL-1156: Attempt DataDog JUnit uploads (#352)
  .github/workflows/ehr_cerner_test.yml
  .github/workflows/ehr_epic_test.yml
  .github/workflows/ehr_test.yml
  .github/workflows/fhir_ronin_test.yml
  .github/workflows/tenant_test.yml
  CODEOWNERS
Due: none

INT-1304 Add auth_endpoint (#357)
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/ehr.db.changelog-8.3.0.yaml
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/ehr.db.changelog-master.yaml
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/tenant-cerner/io_tenant_cerner-02.yaml
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/TenantServiceMappingUtils.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/CernerTenantDAO.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/binding/CernerTenantDOs.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/model/CernerTenantDO.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/TenantServiceTest.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/data/CernerTenantDAOTest.kt
  interop-tenant/src/test/resources/dbunit/cerner-tenants/CernerTenants.yaml
  interop-tenant/src/test/resources/dbunit/cerner-tenants/ExpectedCernerTenantsAfterInsert.yaml
  interop-tenant/src/test/resources/dbunit/cerner-tenants/ExpectedCernerTenantsAfterUpdate.yaml
Due: tenant

INT-1393: Removed coding validation for Conditions (#358)
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/condition/RoninConditionEncounterDiagnosis.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/condition/RoninConditionProblemsAndHealthConcerns.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/condition/RoninConditionEncounterDiagnosisTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/condition/RoninConditionProblemsAndHealthConcernsTest.kt
Due: fhir-ronin

INT-1393: Removed coding validation for Conditions (#358) (#359)
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/condition/RoninConditionEncounterDiagnosis.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/condition/RoninConditionProblemsAndHealthConcerns.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/condition/RoninConditionEncounterDiagnosisTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/condition/RoninConditionProblemsAndHealthConcernsTest.kt
Due: fhir-ronin

[1375] Cerner Location Service (#353)
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerLocationService.kt
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerVendorFactory.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerLocationServiceTest.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerVendorFactoryTest.kt
  interop-ehr-cerner/src/test/resources/ExampleLocationBundle.json
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicLocationServiceTest.kt
Due: ehr-epic

INT-1235 Added OrganizationService at ehr level, added implementation… (#361)
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerVendorFactory.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerVendorFactoryTest.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicOrganizationService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicVendorFactory.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicOrganizationServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicVendorFactoryTest.kt
  interop-ehr-epic/src/test/resources/ExampleOrganizationBundle.json
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/OrganizationService.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/factory/VendorFactory.kt
Due: ehr, ehr-epic

Implement Cerner IdentifierService (#360)
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerIdentifierService.kt
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerVendorFactory.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerIdentifierServiceTest.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerVendorFactoryTest.kt
Due: none

Int 1383 spike design the final approach to handling scope in the auth header (#372)
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerFHIRService.kt
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/auth/CernerAuthenticationService.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/auth/CernerAuthenticationServiceTest.kt
Due: none

INT-1411 - Update PULL_REQUEST_TEMPLATE.md (#375)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

INT-1378: Added Cerner Medication Statement Service implementation and associat… (#373)
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerMedicationStatementService.kt
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerVendorFactory.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerConditionServiceTest.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerMedicationStatementServiceTest.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerVendorFactoryTest.kt
  interop-ehr-cerner/src/test/resources/DSTU2BundleEmpty.json
  interop-ehr-cerner/src/test/resources/ExampleConditionBundle.json
  interop-ehr-cerner/src/test/resources/ExampleConditionBundleWithPaging.json
  interop-ehr-cerner/src/test/resources/ExampleMedicationStatementBundle.json
  interop-ehr-cerner/src/test/resources/ExampleMedicationStatementBundleWithPaging.json
Due: none
