Repository The-Ronin-Project/interop-ehr: changes, and which Codecov flags are due for each by the changed paths.
All: tenant, ehr, transform, ehr-factory, ehr-auth, ehr-epic

INT-325: Model provider-pool data (#24)
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/ehr.db.changelog-1.0.0.yaml
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/ehr/io_ehr-01.yaml
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/tenant-epic/io_tenant_epic-01.yaml
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/tenant-provider-pool/io_tenant_provider_pool-01.yaml
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/tenant/io_tenant-01.yaml
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/TenantService.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/TenantServiceDB.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/TenantServiceEmbedded.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/TenantServiceDBTest.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/TenantServiceEmbeddedTest.kt
Due: tenant

INT-363: Use axion-release for versions (#26)
  CODEOWNERS
  build.gradle.kts
  gradle.properties
  settings.gradle.kts
Due: none

INT-342 Improve Logging EHR (#29)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicMessageService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicPagingService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicPatientService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/auth/EpicAuthenticationService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/transform/EpicAppointmentTransformer.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/TenantServiceDB.kt
  interop-transform/src/main/kotlin/com/projectronin/interop/transform/fhir/r4/R4AppointmentTransformer.kt
  interop-transform/src/main/kotlin/com/projectronin/interop/transform/fhir/r4/R4PatientTransformer.kt
Due: tenant, transform, ehr-epic

Support Identifiers and Pool IDs for Epic message service (#28)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicMessageService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicMessageServiceTest.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/inputs/EHRRecipient.kt
  interop-ehr/src/test/kotlin/com/projectronin/interop/ehr/inputs/EHRMessageInputTest.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/TenantService.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/TenantServiceDB.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/TenantServiceEmbedded.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/TenantServiceDBTest.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/TenantServiceEmbeddedTest.kt
Due: tenant, ehr, ehr-epic

INT-327: Add provider-pool retrieval (#27)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicMessageService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicMessageServiceTest.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/TenantService.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/TenantServiceDB.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/TenantServiceEmbedded.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/ProviderPoolDAO.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/binding/ProviderPoolDOs.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/model/ProviderPoolDO.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/TenantServiceDBTest.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/TenantServiceEmbeddedTest.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/data/ProviderPoolDAOTest.kt
  interop-tenant/src/test/resources/dbunit/provider-pool/ProviderPools.yaml
Due: tenant, ehr-epic

INT-375: Added docker container for schema deployments (#31)
  interop-ehr-liquibase/Dockerfile
  interop-ehr-liquibase/README.md
Due: none

Add default value to EHRRecipient (#32)
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/inputs/EHRRecipient.kt
Due: ehr

Int 343 add provider appointment retrieval from epic (#30)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/apporchard/model/GetAppointmentsResponse.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/apporchard/model/GetProviderAppointmentRequest.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/apporchard/model/ScheduleProvider.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/model/EpicAppointmentBundle.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/apporchard/model/GetProviderAppointmentRequestTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/apporchard/model/ScheduleProviderTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/model/EpicAppointmentBundleTest.kt
  interop-ehr-epic/src/test/resources/ExampleProviderAppointmentBundle.json
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/AppointmentService.kt
Due: ehr, ehr-epic

INT-365: Add provider system for Epic (#33)
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/TestUtil.kt
  interop-ehr-factory/src/test/kotlin/com/projectronin/interop/ehr/factory/EHRFactoryTest.kt
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/tenant-epic/io_tenant_epic-01.yaml
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/TenantServiceDB.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/binding/EpicTenantDOs.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/model/EpicTenantDO.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/model/Tenant.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/model/vendor/Epic.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/TenantServiceDBTest.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/TenantServiceEmbeddedTest.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/data/TenantDAOTest.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/model/TenantTest.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/model/vendor/EpicTest.kt
  interop-tenant/src/test/resources/dbunit/tenant/EHRTenants.yaml
  interop-tenant/src/test/resources/valid_tenants.yaml
  interop-transform/src/test/kotlin/com/projectronin/interop/transform/util/IdHelpersTest.kt
Due: tenant, transform, ehr-factory, ehr-epic

Switch @Service annotation (#35)
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/TenantServiceDB.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/TenantServiceEmbedded.kt
Due: tenant

INT-379 use new exception type (#36)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicMessageService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicMessageServiceTest.kt
Due: ehr-epic

INT-389-type-vs-system-for-epic-identifiers (#34)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/model/EpicCodeableConcept.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/model/EpicCodeableConceptText.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/model/EpicIDType.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/model/EpicIdentifier.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/model/EpicAppointmentBundleTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/model/EpicAppointmentTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/model/EpicIDTypeTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/model/EpicIdentifierTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/model/EpicPractitionerTest.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/model/Identifier.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/TenantServiceEmbeddedTest.kt
Due: tenant, ehr, ehr-epic

INT-386: Rename classes to reduce Spring confusion (#38)
  README.md
  interop-ehr-auth/src/main/kotlin/com/projectronin/interop/ehr/auth/EHRAuthenticationBroker.kt
  interop-ehr-auth/src/test/kotlin/com/projectronin/interop/ehr/auth/AuthenticationBrokerTest.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/auth/EpicAuthenticationService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/client/EpicClient.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/spring/EhrEpicSpringConfig.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/client/EpicClientTest.kt
Due: ehr-auth, ehr-epic

INT-376: Add IdentifierService and Epic implementation (#37)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicIdentifierService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicIdentifierServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/TestUtil.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/IdentifierService.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/inputs/FHIRIdentifiers.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/inputs/IdVendorIdentifier.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/inputs/IdentifierVendorIdentifier.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/inputs/VendorIdentifier.kt
  interop-ehr/src/test/kotlin/com/projectronin/interop/ehr/inputs/FHIRIdentifiersTest.kt
  interop-ehr/src/test/kotlin/com/projectronin/interop/ehr/inputs/IdVendorIdentifierTest.kt
  interop-ehr/src/test/kotlin/com/projectronin/interop/ehr/inputs/IdentifierVendorIdentifierTest.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/model/Tenant.kt
Due: tenant, ehr, ehr-epic

Add IdentifierService to VendorFactory (#40)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicVendorFactory.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicVendorFactoryTest.kt
  interop-ehr-factory/src/main/kotlin/com/projectronin/interop/ehr/factory/VendorFactory.kt
Due: ehr-factory, ehr-epic

INT-378: Added get patients by Identifier to the EHR project. (#39)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicPatientService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/model/EpicIdentifier.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicPatientServiceTest.kt
  interop-ehr-epic/src/test/resources/ExampleMultiPatientBundle.json
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/PatientService.kt
Due: ehr, ehr-epic

INT-313 bug is fixed (#42)
  interop-transform/src/main/kotlin/com/projectronin/interop/transform/fhir/r4/R4PractitionerRoleTransformer.kt
  interop-transform/src/test/kotlin/com/projectronin/interop/transform/fhir/r4/R4PractitionerRoleTransformerTest.kt
Due: transform

Adding Practitioners to Appointments (#41)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/model/EpicAppointment.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/model/EpicAppointmentBundle.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/model/EpicProviderParticipant.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/model/EpicProviderReference.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/model/EpicReference.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/model/EpicAppointmentBundleTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/model/EpicAppointmentTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/model/EpicProviderPractitionerTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/model/EpicProviderReferenceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/model/EpicReferenceTest.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/model/Appointment.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/model/EHRElementID.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/model/Participant.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/model/Reference.kt
  interop-ehr/src/test/kotlin/com/projectronin/interop/ehr/model/ReferenceTest.kt
Due: ehr, ehr-epic

INT-412 ensure reference in participant isn't a list (#44)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/model/EpicProviderParticipant.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/transform/EpicAppointmentTransformer.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/model/EpicAppointmentTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/model/EpicProviderPractitionerTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/transform/EpicAppointmentTransformerTest.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/model/Participant.kt
  interop-transform/src/main/kotlin/com/projectronin/interop/transform/fhir/r4/util/Localizers.kt
  interop-transform/src/test/kotlin/com/projectronin/interop/transform/fhir/r4/R4AppointmentTransformerTest.kt
  interop-transform/src/test/kotlin/com/projectronin/interop/transform/fhir/r4/util/LocalizersTest.kt
Due: ehr, transform, ehr-epic

INT-367: Move to Nexus (#45)
  .github/workflows/ehr_auth_test.yml
  .github/workflows/ehr_epic_test.yml
  .github/workflows/ehr_factory_test.yml
  .github/workflows/ehr_test.yml
  .github/workflows/lint.yml
  .github/workflows/snapshot_publish.yml
  .github/workflows/tenant_test.yml
  .github/workflows/transform_test.yml
  settings.gradle.kts
Due: none

Int 387 update proxy to use identifier service for determining provider (#43)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicMessageService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicMessageServiceTest.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/inputs/EHRRecipient.kt
  interop-ehr/src/test/kotlin/com/projectronin/interop/ehr/inputs/EHRMessageInputTest.kt
Due: ehr, ehr-epic

INT-413: Added qualifier to database to be specific to ehr (#46)
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/ProviderPoolDAO.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/TenantDAO.kt
Due: tenant

FindPractitionerRoles now returns Locations as well as Practitioners (#47)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicPractitionerService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/model/EpicFindPractitionersResponse.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/model/EpicLocation.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/model/EpicLocationBundle.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicPractitionerServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/model/EpicFindPractitionersResponseTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/model/EpicLocationTest.kt
  interop-ehr-epic/src/test/resources/ExampleFindPractitionersResponse.json
  interop-ehr-epic/src/test/resources/ExampleFindPractitionersResponseWithDuplicates.json
  interop-ehr-epic/src/test/resources/ExampleFindPractitionersResponseWithPaging.json
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/model/FindPractitionersResponse.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/model/Location.kt
Due: ehr, ehr-epic

add slash to getproviderappointments (#48)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentServiceTest.kt
Due: ehr-epic

Remove TenantServiceEmbedded (#53)
  interop-tenant/README.md
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/TenantServiceEmbedded.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/TenantServiceEmbeddedTest.kt
  interop-tenant/src/test/resources/valid_tenants.yaml
Due: tenant

INT-419 publish Location for PractitionerRole (#52)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicVendorFactory.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicVendorFactoryTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/model/EpicIDTypeTest.kt
  interop-ehr-factory/src/main/kotlin/com/projectronin/interop/ehr/factory/VendorFactory.kt
  interop-transform/src/main/kotlin/com/projectronin/interop/transform/LocationTransformer.kt
  interop-transform/src/main/kotlin/com/projectronin/interop/transform/fhir/r4/BundleHelpers.kt
  interop-transform/src/main/kotlin/com/projectronin/interop/transform/fhir/r4/R4LocationTransformer.kt
  interop-transform/src/test/kotlin/com/projectronin/interop/transform/fhir/r4/R4LocationTransformerTest.kt
Due: transform, ehr-factory, ehr-epic

Int 395 add ehr dao for reading creating and updating ehr vendors (#51)
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/EhrDAO.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/binding/EhrDOs.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/model/EhrDO.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/data/EhrDAOTest.kt
  interop-tenant/src/test/resources/dbunit/ehr/EHRVendor.yaml
Due: tenant

INT-414: Added support for Teseract AUTH (HSI) (#54)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/auth/EpicAuthenticationService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/TestUtil.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/auth/EpicAuthenticationServiceTest.kt
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/tenant-epic/io_tenant_epic-01.yaml
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/TenantServiceDB.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/binding/EpicTenantDOs.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/model/EpicTenantDO.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/model/vendor/Epic.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/TenantServiceDBTest.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/data/TenantDAOTest.kt
  interop-tenant/src/test/resources/dbunit/tenant/EpicHSITenants.yaml
Due: tenant, ehr-epic

INT-347 Add transform logic for participants (#55)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicVendorFactory.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/model/EpicAppointment.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/model/EpicAppointmentBundle.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/model/EpicPatientParticipant.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/model/EpicPatientReference.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/model/EpicProviderParticipant.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/model/EpicProviderReference.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/transform/EpicAppointmentTransformer.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicVendorFactoryTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/model/EpicAppointmentBundleTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/model/EpicAppointmentTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/transform/EpicAppointmentTransformerTest.kt
  interop-ehr-factory/src/main/kotlin/com/projectronin/interop/ehr/factory/VendorFactory.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/model/Reference.kt
Due: ehr, ehr-factory, ehr-epic

Add insert and update to TenantDAO (#56)
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/TenantDAO.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/binding/TenantDOs.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/model/TenantDO.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/data/TenantDAOTest.kt
  interop-tenant/src/test/resources/dbunit/tenant/ExpectedTenantsAfterInsert.yaml
  interop-tenant/src/test/resources/dbunit/tenant/ExpectedTenantsAfterUpdate.yaml
Due: tenant

INT-442: Removed length constraint for reference localizer (#58)
  interop-transform/src/main/kotlin/com/projectronin/interop/transform/fhir/r4/util/Localizers.kt
  interop-transform/src/test/kotlin/com/projectronin/interop/transform/fhir/r4/util/LocalizersTest.kt
Due: transform

INT-441: Upgrade to JDK 17 and Gradle 7.4.1 (#57)
  .github/workflows/ehr_auth_test.yml
  .github/workflows/ehr_epic_test.yml
  .github/workflows/ehr_factory_test.yml
  .github/workflows/ehr_test.yml
  .github/workflows/lint.yml
  .github/workflows/snapshot_publish.yml
  .github/workflows/tenant_test.yml
  .github/workflows/transform_test.yml
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  interop-ehr-epic/interop-ehr-epic.gradle.kts
  interop-ehr/interop-ehr.gradle.kts
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/model/helper/JsonFhirHelpers.kt
  interop-ehr/src/test/kotlin/com/projectronin/interop/ehr/model/helper/JsonFhirHelpersTest.kt
  interop-transform/interop-transform.gradle.kts
Due: ehr, transform, ehr-epic

Add toUpperCase when comparing (#59)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicPatientService.kt
Due: ehr-epic

Overwrite toString to reduce chances of logging technically sensitive… (#60)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/auth/EpicAuthentication.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/auth/EpicAuthenticationTest.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/model/AuthenticationConfig.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/model/AuthenticationConfigTest.kt
Due: tenant, ehr-epic

INT-453 Build Resolved Reference Values during Transformation (#61)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/transform/EpicAppointmentTransformer.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/transform/EpicAppointmentTransformerTest.kt
  interop-transform/src/main/kotlin/com/projectronin/interop/transform/fhir/r4/R4AppointmentTransformer.kt
  interop-transform/src/test/kotlin/com/projectronin/interop/transform/fhir/r4/R4AppointmentTransformerTest.kt
Due: transform, ehr-epic

Adding insert, update and delete support for ProviderPoolDAO: (#62)
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/tenant-provider-pool/io_tenant_provider_pool-01.yaml
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/ProviderPoolDAO.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/binding/ProviderPoolDOs.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/model/ProviderPoolDO.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/data/ProviderPoolDAOTest.kt
  interop-tenant/src/test/resources/dbunit/provider-pool/ExpectedProviderPoolsAfterDelete.yaml
  interop-tenant/src/test/resources/dbunit/provider-pool/ExpectedProviderPoolsAfterInsert.yaml
  interop-tenant/src/test/resources/dbunit/provider-pool/ExpectedProviderPoolsAfterUpdate.yaml
Due: tenant

INT-474 Default Marital Status (#64)
  interop-transform/src/main/kotlin/com/projectronin/interop/transform/fhir/r4/R4PatientTransformer.kt
  interop-transform/src/test/kotlin/com/projectronin/interop/transform/fhir/r4/R4PatientTransformerTest.kt
Due: transform

INT-468: Change GraphQL APIs with dates to use LocalDate instead of String (#63)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicPatientService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicPatientServiceTest.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/AppointmentService.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/PatientService.kt
Due: ehr, ehr-epic

Path conditions:
  tenant: any of: interop-tenant/
  ehr: any of: interop-ehr/
  transform: any of: interop-transform/
  ehr-factory: any of: interop-ehr-factory/
  ehr-auth: any of: interop-ehr-auth/
  ehr-epic: any of: interop-ehr-epic/
