Repository The-Ronin-Project/interop-ehr: changes, and which Codecov flags are due for each by the changed paths.
All: tenant, ehr, ehr-epic, fhir-ronin

codecov.yml:

codecov:
  require_ci_to_pass: true
ignore:
  - "**/SystemNormalizers"
coverage:
  status:
    default_rules:
      flag_coverage_not_uploaded_behavior: pass
    project:
      tenant:
        target: auto
        threshold: 1%
        flags:
          - tenant
      ehr:
        target: auto
        threshold: 1%
        flags:
          - ehr
      ehr-epic:
        target: auto
        threshold: 1%
        flags:
          - ehr-epic
      fhir-ronin:
        target: auto
        threshold: 1%
        flags:
          - fhir-ronin

    patch:
      tenant:
        target: 80
        threshold: 1%
        base: auto
        flags:
          - tenant
      ehr:
        target: 80
        threshold: 1%
        base: auto
        flags:
          - ehr
      ehr-epic:
        target: 80
        threshold: 1%
        base: auto
        flags:
          - ehr-epic
      fhir-ronin:
        target: 80
        threshold: 1%
        base: auto
        flags:
          - fhir-ronin

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches: null
  show_carryforward_flags: false

flags:
  tenant:
    paths:
      - interop-tenant/
    carryforward: true
  ehr:
    paths:
      - interop-ehr/
    carryforward: true
  ehr-epic:
    paths:
      - interop-ehr-epic/
    carryforward: true
  fhir-ronin:
    paths:
      - interop-fhir-ronin/
    carryforward: true

INT-1118: Implement ConceptMap Infrastructure (#229)
  gradle/libs.versions.toml
  interop-ehr-epic/interop-ehr-epic.gradle.kts
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicVendorFactoryTest.kt
  interop-fhir-ronin/interop-fhir-ronin.gradle.kts
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/conceptmap/ConceptMapCache.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/conceptmap/ConceptMapClient.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/util/SystemNormalizers.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/conceptmap/ConceptMapCacheTest.kt
Due: ehr-epic, fhir-ronin

INT-1122: Add timezone to Tenant config (#244)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/TestUtil.kt
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/ehr.db.changelog-4.3.0.yaml
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/ehr.db.changelog-master.yaml
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/tenant/io_tenant-03.yaml
  interop-ehr/src/test/kotlin/com/projectronin/interop/ehr/factory/EHRFactoryTest.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/TenantServiceMappingUtils.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/TenantDAO.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/binding/BindingUtils.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/binding/TenantDOs.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/model/TenantDO.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/model/Tenant.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/TenantServiceTest.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/data/ProviderPoolDAOTest.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/data/TenantDAOTest.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/model/TenantTest.kt
  interop-tenant/src/test/resources/dbunit/epic-tenants/EpicTenants.yaml
  interop-tenant/src/test/resources/dbunit/epic-tenants/ExpectedEpicTenantsAfterInsert.yaml
  interop-tenant/src/test/resources/dbunit/epic-tenants/ExpectedEpicTenantsAfterUpdate.yaml
  interop-tenant/src/test/resources/dbunit/epic-tenants/Tenants.yaml
  interop-tenant/src/test/resources/dbunit/mirth-tenant-config/ExpectedAfterInsert.yaml
  interop-tenant/src/test/resources/dbunit/mirth-tenant-config/ExpectedAfterUpdate.yaml
  interop-tenant/src/test/resources/dbunit/mirth-tenant-config/MirthTenantConfig.yaml
  interop-tenant/src/test/resources/dbunit/provider-pool/ExpectedProviderPoolsAfterDelete.yaml
  interop-tenant/src/test/resources/dbunit/provider-pool/ExpectedProviderPoolsAfterInsert.yaml
  interop-tenant/src/test/resources/dbunit/provider-pool/ExpectedProviderPoolsAfterUpdate.yaml
  interop-tenant/src/test/resources/dbunit/provider-pool/ProviderPools.yaml
  interop-tenant/src/test/resources/dbunit/tenant-server/StartingTenantServer.yaml
  interop-tenant/src/test/resources/dbunit/tenant/EHRTenants.yaml
  interop-tenant/src/test/resources/dbunit/tenant/EpicHSITenants.yaml
  interop-tenant/src/test/resources/dbunit/tenant/ExpectedTenantsAfterInsert.yaml
  interop-tenant/src/test/resources/dbunit/tenant/ExpectedTenantsAfterUpdate.yaml
  interop-tenant/src/test/resources/dbunit/tenant/Tenants.yaml
Due: tenant, ehr, ehr-epic

Update to 2.1.2 of interop-gradle plugins (#245)
  settings.gradle.kts
Due: none

INT-1139: Better handle some exceptional cases to not stop Mirth processing (#250)
  gradle/libs.versions.toml
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicMessageService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicMessageServiceTest.kt
Due: ehr-epic

INT-1151: Support Identifiers with valueData (#252)
  gradle/libs.versions.toml
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninPatient.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/util/Localizers.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninPatientTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/util/LocalizersTest.kt
Due: fhir-ronin

INT-1154: Sets _count if not provided for paging requests (#254)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicPagingService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicConditionServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicObservationServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicPagingServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicPatientServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicPractitionerServiceTest.kt
Due: ehr-epic

if a text line is empty, make it 1 space character (#258)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicMessageService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicMessageServiceTest.kt
Due: ehr-epic

clean up any private const left behind after #238 (#255)
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninPatient.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninPractitioner.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninPractitionerRole.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninPatientTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninPractitionerRoleTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninPractitionerTest.kt
Due: fhir-ronin

Int 1008 fhir ronin medication statement data model implemented (#247)
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninMedicationStatement.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/util/Localizers.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninMedicationStatementTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/util/LocalizersTest.kt
Due: fhir-ronin

Fix bug normalizing Coding (#261)
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/util/Localizers.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/util/LocalizersTest.kt
Due: fhir-ronin

INT-1153: Upgrade gradle plugins (#262)
  settings.gradle.kts
Due: none

INT-1075: ConceptMaps! - actually working code (#257)
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicVendorFactoryTest.kt
  interop-fhir-ronin/interop-fhir-ronin.gradle.kts
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/conceptmap/ConceptMapCache.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/conceptmap/ConceptMapClient.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/conceptmap/ConceptMapCacheTest.kt
Due: ehr-epic, fhir-ronin

add more codes (#265)
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/util/SystemNormalizers.kt
Due: fhir-ronin

INT-1007 - Ronin Medication (#264)
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/error/RoninNoValidCodingError.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/profile/RoninExtension.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/profile/RoninProfile.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninAppointment.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninMedication.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninPatient.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninPractitioner.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/base/BaseRoninProfile.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninLaboratoryResultObservation.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/profile/RoninExtensionTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninMedicationStatementTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninMedicationTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/base/BaseRoninProfileTest.kt
Due: fhir-ronin

INT-1158: Add epic encounter service (#268)
  gradle/libs.versions.toml
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicEncounterService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicEncounterServiceTest.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/EncounterService.kt
Due: ehr, ehr-epic

INT-1210: Add single identifier lookup to all EHR FHIR services (#271)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicConditionService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicEncounterService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicFHIRService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicLocationService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicMedicationService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicMedicationStatementService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicObservationService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicPatientService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicPractitionerRoleService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicPractitionerService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicVendorFactory.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicFHIRServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicLocationServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicMedicationServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicMedicationStatementTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicPatientServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicPractitionerServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicVendorFactoryTest.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/AppointmentService.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/ConditionService.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/EncounterService.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/FHIRService.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/LocationService.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/MedicationService.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/MedicationStatementService.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/ObservationService.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/PatientService.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/PractitionerRoleService.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/PractitionerService.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/factory/VendorFactory.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/util/ResourceUtil.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/conceptmap/ConceptMapClient.kt
Due: ehr, ehr-epic, fhir-ronin

INT-1160 - Ronin encounter, with validation and transform (#269)
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninEncounter.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninEncounterTest.kt
Due: fhir-ronin

[INT-1208] Adding @Trace to public calls (#273)
  gradle/libs.versions.toml
  interop-ehr-epic/interop-ehr-epic.gradle.kts
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicConditionService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicEncounterService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicFHIRService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicIdentifierService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicLocationService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicMedicationService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicMedicationStatementService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicMessageService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicObservationService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicPatientService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicPractitionerService.kt
Due: ehr-epic

INT-1007 - INFX update to Medication.code transform, validate (#267)
  interop-fhir-ronin/README.md
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/code/RoninCodeableConcepts.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/error/RoninNoValidCodingError.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/localization/Normalizer.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninMedication.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/base/BaseRoninProfile.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/localization/NormalizerTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninEncounterTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninMedicationTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/base/BaseRoninProfileTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/condition/RoninConditionEncounterDiagnosisTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/condition/RoninConditionProblemsAndHealthConcernsTest.kt
Due: fhir-ronin

INT-1239: Repo maintenance (#279)
  .github/workflows/snapshot_publish.yml
  .github/workflows/upgrade_dependencies.yml
  CODEOWNERS
Due: none

INT-1182: find appointments by location (#274)
  gradle/libs.versions.toml
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/apporchard/model/GetProviderAppointmentRequest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentServiceTest.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/AppointmentService.kt
Due: ehr, ehr-epic

INT-1203: Add Ronin profile for MedicationRequest (#276)
  gradle/libs.versions.toml
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicLocationService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicPatientService.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/localization/Localizer.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninMedicationRequest.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/condition/RoninConditionProblemsAndHealthConcerns.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/util/SystemNormalizers.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/util/Unlocalize.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/localization/LocalizerTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninMedicationRequestTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninPatientTest.kt
Due: ehr-epic, fhir-ronin

INT-1184 - Updated RoninPatient class with USCORE and Ronin IG (#270)
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/ElementFunctions.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninPatient.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/ElementFunctionsTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninPatientTest.kt
Due: fhir-ronin

getRoninIdentifiers() is called from -proxy-server (#283)
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninPatient.kt
Due: fhir-ronin

INT-1221: Upgrade to interop-gradle 2.2.0 (#285)
  settings.gradle.kts
Due: none

INT-1121 patient telecom concept map (#281)
  gradle/libs.versions.toml
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicIdentifierServiceTest.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/conceptmap/ConceptMapClient.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/element/RoninContactPoint.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/error/FailedConceptMapLookupError.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/profile/RoninConceptMap.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/profile/RoninExtension.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninPatient.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/conceptmap/ConceptMapCacheTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/element/RoninContactPointTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninPatientTest.kt
Due: ehr-epic, fhir-ronin

INT-1265: Added support for hh/hsp incomplete status on appointments (#291)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentServiceTest.kt
Due: ehr-epic

[INT-1259] Call transform internal for MultipleProfileResource.kt (#288)
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/base/MultipleProfileResource.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninConditionsTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninObservationsTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/base/MultipleProfileResourceTest.kt
Due: fhir-ronin

INT-1170-update-CNDPAHC-ronin (#287)
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/base/BaseRoninProfile.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/condition/RoninConditionProblemsAndHealthConcerns.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninConditionsTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/condition/RoninConditionProblemsAndHealthConcernsTest.kt
Due: fhir-ronin

initial commit for ronin organization transform and validate (#295)
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninOrganization.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/util/SystemNormalizers.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninOrganizationTest.kt
Due: fhir-ronin

INT-1171-update-CNDEDX-ronin (#292)
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/base/BaseRoninProfile.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/condition/RoninConditionEncounterDiagnosis.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninConditionsTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/condition/RoninConditionEncounterDiagnosisTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/condition/RoninConditionProblemsAndHealthConcernsTest.kt
Due: fhir-ronin

Location telecom uses concept map (#300)
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/localization/Normalizer.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninLocation.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninPatient.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninLocationTest.kt
Due: fhir-ronin

INT-1284: Ignore tenant when matching source systems (#303)
  gradle/libs.versions.toml
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/conceptmap/ConceptMapClient.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/profile/RoninConceptMap.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/conceptmap/ConceptMapCacheTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/element/RoninContactPointTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninLocationTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninPatientTest.kt
Due: fhir-ronin

INT-1284: Ignore tenant when matching source systems (#303)
  gradle/libs.versions.toml
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/conceptmap/ConceptMapClient.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/profile/RoninConceptMap.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/conceptmap/ConceptMapCacheTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/element/RoninContactPointTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninPatientTest.kt
Due: fhir-ronin

INT-1292: Use enums before ConceptMaps (#306)
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/conceptmap/ConceptMapClient.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/element/RoninContactPoint.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/conceptmap/ConceptMapClientTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/element/RoninContactPointTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninLocationTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninPatientTest.kt
Due: fhir-ronin

INT-1292: Use enums before ConceptMaps (#306)
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/conceptmap/ConceptMapClient.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/element/RoninContactPoint.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/conceptmap/ConceptMapClientTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/element/RoninContactPointTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninPatientTest.kt
Due: fhir-ronin

INT-1279: Update Epic to use new HttpClient wrapper (#308)
  gradle/libs.versions.toml
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/auth/EpicAuthenticationService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/client/EpicClient.kt
Due: ehr-epic
