Repository The-Ronin-Project/interop-ehr: changes, and which Codecov flags are due for each by the changed paths.
All: tenant, ehr, transform, ehr-epic

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    default_rules:
      flag_coverage_not_uploaded_behavior: pass
    project:
      tenant:
        target: auto
        threshold: 1%
        flags:
          - tenant
      ehr:
        target: auto
        threshold: 1%
        flags:
          - ehr
      transform:
        target: auto
        threshold: 1%
        flags:
          - transform
      ehr-epic:
        target: auto
        threshold: 1%
        flags:
          - ehr-epic

    patch:
      tenant:
        target: 80
        threshold: 1%
        base: auto
        flags:
          - tenant
      ehr:
        target: 80
        threshold: 1%
        base: auto
        flags:
          - ehr
      transform:
        target: 80
        threshold: 1%
        base: auto
        flags:
          - transform
      ehr-epic:
        target: 80
        threshold: 1%
        base: auto
        flags:
          - ehr-epic

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches: null
  show_carryforward_flags: false

flags:
  tenant:
    paths:
      - interop-tenant/
    carryforward: true
  ehr:
    paths:
      - interop-ehr/
    carryforward: true
  transform:
    paths:
      - interop-transform/
    carryforward: true
  ehr-epic:
    paths:
      - interop-ehr-epic/
    carryforward: true

[INT-580] Appointments Channel In Kotlin (#108)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicIdentifierService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicVendorFactory.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicVendorFactoryTest.kt
  interop-ehr-epic/src/test/resources/ExampleSerializedEpicAppointmentList.json
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/factory/VendorFactory.kt
Due: ehr, ehr-epic

INT-658: Remove old dependency-providing Gradle plugins (#109)
  .github/workflows/mark_next_release.yml
  .github/workflows/upgrade_dependencies.yml
  build.gradle.kts
  gradle/libs.versions.toml
  interop-ehr-epic/interop-ehr-epic.gradle.kts
  interop-ehr/interop-ehr.gradle.kts
  interop-tenant/interop-tenant.gradle.kts
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/jackson/JacksonManager.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/jackson/VendorDeserializerTest.kt
  interop-transform/interop-transform.gradle.kts
  settings.gradle.kts
Due: tenant, ehr, transform, ehr-epic

Allow multiple _include parameters in httpclient calls (#114)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicPractitionerService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/client/EpicClient.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicPractitionerServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/client/EpicClientTest.kt
Due: ehr-epic

Update AppointmentService to take list of FHIRIdentifiers instead of … (#116)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentServiceTest.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/AppointmentService.kt
Due: ehr, ehr-epic

Fix test's use of body for getting a JSON String (#119)
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/client/EpicClientTest.kt
Due: ehr-epic

[INT-701][INT-586] Make sure we can de/serialize when dealing with empty strings (#117)
  gradle/libs.versions.toml
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicVendorFactory.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/model/EpicAppointmentTest.kt
  interop-ehr-epic/src/test/resources/ExampleSerializedEpicAppointment.json
  interop-ehr-epic/src/test/resources/ExampleSerializedEpicAppointmentList.json
  interop-ehr-epic/src/test/resources/ExampleSerializedEpicAppointmentWithNulls.json
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/factory/VendorFactory.kt
Due: ehr, ehr-epic

[INT-158] Add Deserialization for Queue Channels (#120)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicVendorFactory.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicVendorFactoryTest.kt
  interop-ehr-epic/src/test/resources/ExampleSerializedCondition.json
  interop-ehr-epic/src/test/resources/ExampleSerializedPatient.json
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/factory/VendorFactory.kt
Due: ehr, ehr-epic

INT-705, INT-708 - make AppointmentByPractitioner work; partnerDepartment is must support, not required (#122)
  .gitignore
  gradle/libs.versions.toml
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicIdentifierService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/auth/EpicAuthenticationService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicIdentifierServiceTest.kt
  interop-transform/src/test/kotlin/com/projectronin/interop/transform/fhir/r4/R4AppointmentTransformerTest.kt
Due: transform, ehr-epic

[INT-672] EpicAppointment Transformer now handles non-FHIR patient references (#125)
  gradle/libs.versions.toml
  interop-ehr-epic/interop-ehr-epic.gradle.kts
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/transform/EpicAppointmentTransformer.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/transform/EpicAppointmentTransformerTest.kt
Due: ehr-epic

BUG-INT-744: Tenant's now return their own Vendor information (#126)
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/TenantService.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/TenantServiceTest.kt
Due: tenant

Add patient internal system to tenant db (#124)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicIdentifierService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/TestUtil.kt
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/ehr.db.changelog-2.0.0.yaml
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/ehr.db.changelog-master.yaml
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/tenant-epic/io_tenant_epic-02.yaml
  interop-ehr/src/test/kotlin/com/projectronin/interop/ehr/factory/EHRFactoryTest.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/TenantServiceMappingUtils.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/EpicTenantDAO.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/binding/EpicTenantDOs.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/model/EpicTenantDO.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/model/vendor/Epic.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/TenantServiceTest.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/data/EpicTenantDAOTest.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/model/TenantTest.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/model/vendor/EpicTest.kt
  interop-tenant/src/test/resources/dbunit/epic-tenants/EpicTenants.yaml
  interop-tenant/src/test/resources/dbunit/epic-tenants/ExpectedEpicTenantsAfterInsert.yaml
  interop-tenant/src/test/resources/dbunit/epic-tenants/ExpectedEpicTenantsAfterUpdate.yaml
  interop-transform/src/test/kotlin/com/projectronin/interop/transform/util/IdHelpersTest.kt
Due: tenant, ehr, transform, ehr-epic

fix tests (#128)
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/TenantServiceTest.kt
Due: tenant

Use new internal system OID in Epic Identifier and Patient Service (#129)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicIdentifierService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicPatientService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicIdentifierServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicPatientServiceTest.kt
Due: ehr-epic

Add tenant-specific MRN text (#131)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicMessageService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/TestUtil.kt
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/tenant-epic/io_tenant_epic-02.yaml
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/EpicTenantDAO.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/binding/EpicTenantDOs.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/model/EpicTenantDO.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/model/vendor/Epic.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/data/EpicTenantDAOTest.kt
  interop-tenant/src/test/resources/dbunit/epic-tenants/EpicTenants.yaml
  interop-tenant/src/test/resources/dbunit/epic-tenants/ExpectedEpicTenantsAfterInsert.yaml
  interop-tenant/src/test/resources/dbunit/epic-tenants/ExpectedEpicTenantsAfterUpdate.yaml
  interop-tenant/src/test/resources/dbunit/tenant/EHRTenants.yaml
Due: tenant, ehr-epic

INT-731 - add the tenant full name property (#127)
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicMessageServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/TestUtil.kt
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/ehr.db.changelog-2.0.0.yaml
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/tenant/io_tenant-02.yaml
  interop-ehr/src/test/kotlin/com/projectronin/interop/ehr/factory/EHRFactoryTest.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/TenantServiceMappingUtils.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/TenantDAO.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/binding/TenantDOs.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/model/TenantDO.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/model/Tenant.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/TenantServiceTest.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/data/MirthTenantConfigDAOTest.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/data/TenantDAOTest.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/model/TenantTest.kt
  interop-tenant/src/test/resources/dbunit/epic-tenants/EpicTenants.yaml
  interop-tenant/src/test/resources/dbunit/epic-tenants/ExpectedEpicTenantsAfterInsert.yaml
  interop-tenant/src/test/resources/dbunit/epic-tenants/ExpectedEpicTenantsAfterUpdate.yaml
  interop-tenant/src/test/resources/dbunit/epic-tenants/Tenants.yaml
  interop-tenant/src/test/resources/dbunit/mirth-tenant-config/ExpectedAfterInsert.yaml
  interop-tenant/src/test/resources/dbunit/mirth-tenant-config/ExpectedAfterUpdate.yaml
  interop-tenant/src/test/resources/dbunit/mirth-tenant-config/MirthTenantConfig.yaml
  interop-tenant/src/test/resources/dbunit/provider-pool/ExpectedProviderPoolsAfterDelete.yaml
  interop-tenant/src/test/resources/dbunit/provider-pool/ExpectedProviderPoolsAfterInsert.yaml
  interop-tenant/src/test/resources/dbunit/provider-pool/ExpectedProviderPoolsAfterUpdate.yaml
  interop-tenant/src/test/resources/dbunit/provider-pool/ProviderPools.yaml
  interop-tenant/src/test/resources/dbunit/tenant/EHRTenants.yaml
  interop-tenant/src/test/resources/dbunit/tenant/EpicHSITenants.yaml
  interop-tenant/src/test/resources/dbunit/tenant/ExpectedTenantsAfterInsert.yaml
  interop-tenant/src/test/resources/dbunit/tenant/ExpectedTenantsAfterUpdate.yaml
  interop-tenant/src/test/resources/dbunit/tenant/Tenants.yaml
  interop-transform/src/test/kotlin/com/projectronin/interop/transform/util/IdHelpersTest.kt
Due: tenant, ehr, transform, ehr-epic

Int 730 update tenant config end points to be consistent (#132)
  interop-ehr/src/test/kotlin/com/projectronin/interop/ehr/factory/EHRFactoryTest.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/TenantService.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/TenantServiceMappingUtils.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/EhrDAO.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/MirthTenantConfigDAO.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/ProviderPoolDAO.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/TenantDAO.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/binding/ProviderPoolDOs.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/model/EhrDO.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/model/ProviderPoolDO.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/model/vendor/Epic.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/TenantServiceTest.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/data/EhrDAOTest.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/data/MirthTenantConfigDAOTest.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/data/ProviderPoolDAOTest.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/data/TenantDAOTest.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/model/TenantTest.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/model/vendor/EpicTest.kt
  interop-transform/src/test/kotlin/com/projectronin/interop/transform/util/IdHelpersTest.kt
Due: tenant, ehr, transform

Add observation interface and Epic model. (no tests) (#136)
  gradle/libs.versions.toml
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicVendorFactory.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/model/EpicObservation.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/model/EpicQuantity.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/model/EpicRatio.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/model/EpicReferenceRange.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/model/EpicObservationTest.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/model/Observation.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/model/Ratio.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/model/ReferenceRange.kt
  interop-ehr/src/test/kotlin/com/projectronin/interop/ehr/model/ObservationTest.kt
Due: ehr, ehr-epic

INT-774 synchronize interop-ehr with interop-fhir change (#139)
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/model/EpicAgeTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/model/EpicConditionTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/model/EpicSimpleQuantityTest.kt
Due: ehr-epic

[INT-626] Add Serialization Needed for PractitionerLoad (#137)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicVendorFactory.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicVendorFactoryTest.kt
  interop-ehr-epic/src/test/resources/ExampleSerializedEpicCondition.json
  interop-ehr-epic/src/test/resources/ExampleSerializedEpicConditionList.json
  interop-ehr-epic/src/test/resources/ExampleSerializedEpicLocation.json
  interop-ehr-epic/src/test/resources/ExampleSerializedEpicLocationList.json
  interop-ehr-epic/src/test/resources/ExampleSerializedEpicObservation.json
  interop-ehr-epic/src/test/resources/ExampleSerializedEpicObservationList.json
  interop-ehr-epic/src/test/resources/ExampleSerializedEpicPatient.json
  interop-ehr-epic/src/test/resources/ExampleSerializedEpicPatientList.json
  interop-ehr-epic/src/test/resources/ExampleSerializedEpicPractitioner.json
  interop-ehr-epic/src/test/resources/ExampleSerializedEpicPractitionerList.json
  interop-ehr-epic/src/test/resources/ExampleSerializedEpicPractitionerRole.json
  interop-ehr-epic/src/test/resources/ExampleSerializedEpicPractitionerRoleList.json
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/factory/VendorFactory.kt
Due: ehr, ehr-epic

INT-691 EHR and Epic observation service (#138)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicObservationService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicVendorFactory.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/model/EpicObservationBundle.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicObservationServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicVendorFactoryTest.kt
  interop-ehr-epic/src/test/resources/ExampleObservationBundle.json
  interop-ehr-epic/src/test/resources/ExampleObservationBundleWithPaging.json
  interop-ehr-epic/src/test/resources/ExampleSerializedObservation.json
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/ObservationService.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/factory/VendorFactory.kt
Due: ehr, ehr-epic

[INT-692] Observation Transformer (#142)
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/transform/ObservationTransformer.kt
  interop-transform/src/main/kotlin/com/projectronin/interop/transform/fhir/r4/R4ObservationTransformer.kt
  interop-transform/src/main/kotlin/com/projectronin/interop/transform/fhir/r4/util/Localizers.kt
  interop-transform/src/test/kotlin/com/projectronin/interop/transform/fhir/r4/R4ObservationTransformerTest.kt
  interop-transform/src/test/kotlin/com/projectronin/interop/transform/fhir/r4/util/LocalizersTest.kt
Due: ehr, transform

INT-768 - adjust to FHIR validation update - remove redundant tests (#141)
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/model/EpicConditionTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/model/EpicContactPointTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/model/EpicLocationTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/model/EpicObservationTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/model/EpicPatientTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/model/EpicPractitionerRoleTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/model/EpicPractitionerTest.kt
  interop-ehr-epic/src/test/resources/ExampleSerializedEpicLocation.json
  interop-ehr-epic/src/test/resources/ExampleSerializedEpicLocationList.json
  interop-ehr-epic/src/test/resources/ExampleSerializedEpicPatient.json
  interop-ehr-epic/src/test/resources/ExampleSerializedEpicPatientList.json
  interop-ehr-epic/src/test/resources/ExampleSerializedEpicPractitioner.json
  interop-ehr-epic/src/test/resources/ExampleSerializedEpicPractitionerList.json
  interop-ehr-epic/src/test/resources/ExampleSerializedEpicPractitionerRole.json
  interop-ehr-epic/src/test/resources/ExampleSerializedEpicPractitionerRoleList.json
  interop-transform/src/test/kotlin/com/projectronin/interop/transform/fhir/r4/R4ConditionTransformerTest.kt
  interop-transform/src/test/kotlin/com/projectronin/interop/transform/fhir/r4/R4LocationTransformerTest.kt
  interop-transform/src/test/kotlin/com/projectronin/interop/transform/fhir/r4/R4PatientTransformerTest.kt
  interop-transform/src/test/kotlin/com/projectronin/interop/transform/fhir/r4/R4PractitionerRoleTransformerTest.kt
  interop-transform/src/test/kotlin/com/projectronin/interop/transform/fhir/r4/R4PractitionerTransformerTest.kt
  interop-transform/src/test/kotlin/com/projectronin/interop/transform/fhir/r4/util/LocalizersTest.kt
Due: transform, ehr-epic

fix merge issue (#144)
  interop-transform/src/test/kotlin/com/projectronin/interop/transform/fhir/r4/util/LocalizersTest.kt
Due: transform

INT-693 observation kotlin channel (#145)
  gradle/libs.versions.toml
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicVendorFactory.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicObservationServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicVendorFactoryTest.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/factory/VendorFactory.kt
  interop-ehr/src/test/kotlin/com/projectronin/interop/ehr/model/enums/DataSourceTest.kt
  interop-transform/src/main/kotlin/com/projectronin/interop/transform/fhir/r4/util/Unlocalize.kt
  interop-transform/src/test/kotlin/com/projectronin/interop/transform/fhir/r4/util/UnlocalizeTest.kt
Due: ehr, transform, ehr-epic

[INT-795] Update EpicPatientService to Not Index By Type (#148)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicPatientService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicPatientServiceTest.kt
Due: ehr-epic

Add Spring Component to R4ObservationTransformer (#153)
  interop-transform/src/main/kotlin/com/projectronin/interop/transform/fhir/r4/R4ObservationTransformer.kt
Due: transform

INT-865: Include FHIR STU3 ID in identifiers list for Practitioner (#156)
  interop-transform/src/main/kotlin/com/projectronin/interop/transform/fhir/r4/R4PractitionerTransformer.kt
  interop-transform/src/test/kotlin/com/projectronin/interop/transform/fhir/r4/R4PractitionerTransformerTest.kt
Due: transform

INT-802 Tenant Specific Server Information (#155)
  gradle/libs.versions.toml
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/ehr.db.changelog-2.1.2.yaml
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/ehr.db.changelog-master.yaml
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/tenant-server/io_tenant_server-01.yaml
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/TenantServerDAO.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/binding/TenantServerDOs.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/model/MirthTenantConfigDO.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/model/TenantServerDO.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/data/TenantServerDAOTest.kt
  interop-tenant/src/test/resources/dbunit/tenant-server/StartingTenantServer.yaml
Due: tenant

[INT 802] update next version in schema (#157)
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/ehr.db.changelog-2.2.0.yaml
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/ehr.db.changelog-master.yaml
Due: none

INT-875: Expose API to retrieve Ronin identifiers for a Patient (#158)
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/transform/PatientTransformer.kt
  interop-transform/src/main/kotlin/com/projectronin/interop/transform/fhir/r4/R4PatientTransformer.kt
  interop-transform/src/test/kotlin/com/projectronin/interop/transform/fhir/r4/R4PatientTransformerTest.kt
Due: ehr, transform

fix confusing comments, variable names, tests (#164)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicObservationService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicObservationServiceTest.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/ObservationService.kt
Due: ehr, ehr-epic

INT-827: Prepare for refactor branch (#162)
  .github/workflows/ehr_epic_test.yml
  .github/workflows/ehr_test.yml
  .github/workflows/lint.yml
  .github/workflows/snapshot_publish.yml
  .github/workflows/tenant_test.yml
  .github/workflows/transform_test.yml
Due: none

update PR Template (#163)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Wrap service call in try/catch block (#166)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicMessageService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicMessageServiceTest.kt
Due: ehr-epic

INT-903: SendMessage message text is an array (#170)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicMessageService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/apporchard/model/SendMessageRequest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicMessageServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/apporchard/model/SendMessageRequestTest.kt
Due: ehr-epic

Update primary Epic services and interfaces to use R4 (#169)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicConditionService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicObservationService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicPagingService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicPatientService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicPractitionerService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/model/EpicConditionBundle.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/model/EpicFindPractitionersResponse.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/model/EpicLocationBundle.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/model/EpicObservationBundle.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/model/EpicPatientBundle.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/model/EpicPractitionerBundle.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/model/EpicPractitionerRoleBundle.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/util/ResourceUtil.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicConditionServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicObservationServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicPatientServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicPractitionerServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/model/EpicConditionBundleTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/model/EpicFindPractitionersResponseTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/model/EpicPatientBundleTest.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/ConditionService.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/ObservationService.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/PatientService.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/PractitionerService.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/model/FindPractitionersResponse.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/outputs/FindPractitionersResponse.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/util/ResourceUtil.kt
  interop-ehr/src/test/kotlin/com/projectronin/interop/ehr/outputs/FindPractitionersResponseTest.kt
Due: ehr, ehr-epic

INT-814: Add ProfileValidator and ProfileTransformer for all current types (#165)
  .github/workflows/fhir_ronin_test.yml
  codecov.yml
  gradle/libs.versions.toml
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/util/ResourceUtil.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/outputs/FindPractitionersResponse.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/util/ResourceUtil.kt
  interop-fhir-ronin/README.md
  interop-fhir-ronin/interop-fhir-ronin.gradle.kts
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/ProfileTransformer.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/ProfileValidator.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/ResourceFunctions.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/BaseRoninProfile.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/OncologyAppointment.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/OncologyCondition.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/OncologyObservation.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/OncologyPatient.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/OncologyPractitioner.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/OncologyPractitionerRole.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninLocation.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/util/IdHelpers.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/util/Localizers.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/ResourceFunctionsTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/OncologyAppointmentTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/OncologyConditionTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/OncologyObservationTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/OncologyPatientTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/OncologyPractitionerRoleTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/OncologyPractitionerTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninLocationTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/util/LocalizersTest.kt
  interop-transform/src/main/kotlin/com/projectronin/interop/transform/fhir/r4/BundleHelpers.kt
  interop-transform/src/main/kotlin/com/projectronin/interop/transform/fhir/r4/R4LocationTransformer.kt
  settings.gradle.kts
Due: ehr, transform, ehr-epic

Int 866 introduce data dog marker for app orchard sandbox being down and configure data dog (#168)
  gradle/libs.versions.toml
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicMessageService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicPagingService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicPatientService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/auth/EpicAuthenticationService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/client/EpicClient.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicConditionServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicMessageServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicObservationServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicPatientServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicPractitionerServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/TestUtil.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/auth/EpicAuthenticationServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/client/EpicClientTest.kt
  interop-ehr/interop-ehr.gradle.kts
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/util/HandleHttpStatusError.kt
  interop-ehr/src/test/kotlin/com/projectronin/interop/ehr/util/HandleHttpStatusErrorTest.kt
Due: ehr, ehr-epic

Update Epic Appointment service (for patients) to use FHIR (#173)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentServiceTest.kt
  interop-ehr-epic/src/test/resources/ExampleFHIRAppointmentBundle.json
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/AppointmentService.kt
Due: ehr, ehr-epic

INT-902: Use Validation in transformers to capture multiple errors (#172)
  gradle/libs.versions.toml
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/transform/EpicAppointmentTransformer.kt
  interop-transform/src/main/kotlin/com/projectronin/interop/transform/fhir/r4/R4AppointmentTransformer.kt
  interop-transform/src/main/kotlin/com/projectronin/interop/transform/fhir/r4/R4ConditionTransformer.kt
  interop-transform/src/main/kotlin/com/projectronin/interop/transform/fhir/r4/R4LocationTransformer.kt
  interop-transform/src/main/kotlin/com/projectronin/interop/transform/fhir/r4/R4ObservationTransformer.kt
  interop-transform/src/main/kotlin/com/projectronin/interop/transform/fhir/r4/R4PatientTransformer.kt
  interop-transform/src/main/kotlin/com/projectronin/interop/transform/fhir/r4/R4PractitionerRoleTransformer.kt
  interop-transform/src/main/kotlin/com/projectronin/interop/transform/fhir/r4/R4PractitionerTransformer.kt
Due: transform, ehr-epic
