Repository The-Ronin-Project/interop-ehr: changes, and which Codecov flags are due for each by the changed paths.
All: tenant, ehr, ehr-epic, fhir-ronin, ehr-cerner

INT-2405: Upgrade to JDK 17 (#697)
  .github/workflows/create_release.yml
  gradle/libs.versions.toml
Due: none

INT-2408: initial, removed category mapping and updated tests (#703)
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninProcedure.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninProcedureTest.kt
Due: fhir-ronin

[INT-1338] Adding simple ronin profile config for use without transform or validation (#705)
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/spring/SimpleRoninProfileConfig.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/spring/SimpleRoninProfileConfigTest.kt
Due: fhir-ronin

Int 2397 ehr client uses common retry mechanism (#702)
  gradle/libs.versions.toml
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/client/CernerClient.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/client/CernerClientTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/client/EpicClientTest.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/auth/EHRAuthenticationBroker.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/auth/TenantAuthenticationBroker.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/client/EHRClient.kt
  interop-ehr/src/test/kotlin/com/projectronin/interop/ehr/auth/AuthenticationBrokerTest.kt
  interop-ehr/src/test/kotlin/com/projectronin/interop/ehr/client/EHRClientTest.kt
Due: ehr, ehr-epic, ehr-cerner

INT-2385: Remove dependence on fhir-ronin from EHR impls (#704)
  gradle/libs.versions.toml
  interop-ehr-cerner/interop-ehr-cerner.gradle.kts
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerIdentifierService.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerIdentifierServiceTest.kt
  interop-ehr-epic/interop-ehr-epic.gradle.kts
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicMedicationAdministrationService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicMessageService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicOnboardFlagService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicMessageServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicOnboardFlagServiceTest.kt
Due: ehr-epic, ehr-cerner

INT-2185: careplan category mapping (#701)
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/RoninCarePlanGeneratorTest.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninCarePlan.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninCarePlanTest.kt
Due: fhir-ronin

INT-2450-Support-Epic-MedicationAdministration-Rate (#718)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicMedicationAdministrationService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicMedicationAdministrationServiceTest.kt
Due: ehr-epic

INT-2451 replaced component scan with import for Cerner and Epic Spri… (#719)
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/spring/CernerSpringConfig.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/spring/EpicSpringConfig.kt
Due: ehr-epic, ehr-cerner

INT-2498: Remove ThreadPoolTaskExecutor (#722)
  gradle/libs.versions.toml
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/spring/CernerSpringConfigTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/spring/EpicSpringConfigTest.kt
  interop-hl7/src/test/kotlin/com/projectronin/interop/ehr/hl7/spring/Hl7SpringConfigTest.kt
Due: ehr-epic, ehr-cerner

INT-2559 Authentication has a race condition (#726)
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/auth/EHRAuthenticationBroker.kt
Due: ehr

[INT-2582] Add Ronin app version to epic tenant config db (#731)
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/ehr.db.changelog-11.4.0.yaml
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/ehr.db.changelog-master.yaml
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/tenant-epic/io_tenant_epic-08.yaml
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/EpicTenantDAO.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/binding/EpicTenantDOs.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/model/EpicTenantDO.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/data/EpicTenantDAOTest.kt
  interop-tenant/src/test/resources/dbunit/epic-tenants/EpicTenants.yaml
Due: tenant

INT-2584 Epic Model update (#733)
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/model/vendor/Epic.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/model/vendor/EpicTest.kt
Due: tenant

Updated liquibase deploy to trigger again (#735)
  .github/workflows/deploy_ehr_liquibase.yml
Due: none

INT:2525 - allowed resource (#734)
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/ehr.db.changelog-11.5.0.yaml
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/ehr.db.changelog-master.yaml
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/mirth-tenant-config/io_mirth_tenant_config-05.yaml
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/MirthTenantConfigDAO.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/binding/MirthTenantConfigDOs.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/model/MirthTenantConfigDO.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/data/MirthTenantConfigDAOTest.kt
  interop-tenant/src/test/resources/dbunit/mirth-tenant-config/ExpectedAfterInsert.yaml
  interop-tenant/src/test/resources/dbunit/mirth-tenant-config/ExpectedAfterUpdate.yaml
  interop-tenant/src/test/resources/dbunit/mirth-tenant-config/MirthTenantConfig.yaml
Due: tenant

INT-2581 Update Epic Appointment implementation per tenant
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/TestUtil.kt
Due: ehr-epic

Added MIT License
  LICENSE
Due: none

Path conditions:
  tenant: any of: interop-tenant/, but not: **/SystemNormalizers, **/EHRClient
  ehr: any of: interop-ehr/, but not: **/SystemNormalizers, **/EHRClient
  ehr-epic: any of: interop-ehr-epic/, but not: **/SystemNormalizers, **/EHRClient
  fhir-ronin: any of: interop-fhir-ronin/, but not: **/SystemNormalizers, **/EHRClient
  ehr-cerner: any of: interop-ehr-cerner/, but not: **/SystemNormalizers, **/EHRClient
