Repository The-Ronin-Project/interop-ehr: changes, and which Codecov flags are due for each by the changed paths.
All: tenant, ehr, ehr-epic, fhir-ronin, ehr-cerner

[INT-2164] Create MedicationAdministration RCDM Generator (#642)
  gradle/libs.versions.toml
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/RoninMedicationAdministrationGenerator.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/RoninMedicationAdministrationGeneratorTest.kt
Due: none

INT-2240: Add dependsOn support for Observation.code.text (#643)
  gradle/libs.versions.toml
  interop-fhir-ronin/interop-fhir-ronin.gradle.kts
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/element/RoninContactPoint.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/normalization/NormalizationRegistryClient.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/normalization/dependson/BaseDependsOnEvaluator.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/normalization/dependson/DependsOnEvaluator.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/normalization/dependson/ObservationDependsOnEvaluator.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninAppointment.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninDocumentReference.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninLocation.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninPatient.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninPractitioner.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninPractitionerRole.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/condition/BaseRoninCondition.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/BaseRoninObservation.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/element/RoninContactPointTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/normalization/NormalizationRegistryClientTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/normalization/dependson/BaseDependsOnEvaluatorTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/normalization/dependson/ObservationDependsOnEvaluatorTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninAppointmentTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninDocumentReferenceTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninLocationTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninPatientTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninPractitionerRoleTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninPractitionerTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/condition/RoninConditionEncounterDiagnosisTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/condition/RoninConditionProblemsAndHealthConcernsTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBloodPressureTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodyHeightTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodyMassIndexTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodySurfaceAreaTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodyTemperatureTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodyWeightTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninHeartRateTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninLaboratoryResultTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninPulseOximetryTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninRespiratoryRateTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninStagingRelatedTest.kt
Due: fhir-ronin

INT-2280: Update normalization registry client for text (#648)
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/normalization/NormalizationRegistryClient.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/normalization/NormalizationRegistryClientTest.kt
Due: fhir-ronin

INT-2182: add support for order system to identifier service (#641)
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerIdentifierService.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerIdentifierServiceTest.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicIdentifierService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicMedicationAdministrationService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicIdentifierServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicMedicationAdministrationServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/TestUtil.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/IdentifierService.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninMedicationAdministration.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninMedicationAdministrationTest.kt
Due: ehr, ehr-epic, fhir-ronin, ehr-cerner

INT-2209 and INT-2211 Implement Service Request RCDM transform/validation (#649)
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/RoninMedicationAdministrationGeneratorTest.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/profile/RoninExtension.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/profile/RoninProfile.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninServiceRequest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninServiceRequestTest.kt
Due: fhir-ronin

[INT-2208] Implement Procedure RCDM Transform and Validation (#651)
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/RCDMVersion.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/profile/RoninExtension.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/profile/RoninProfile.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninProcedure.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninProcedureTest.kt
Due: fhir-ronin

INT-2263: Support for embedded Medications (#652)
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/RoninMedicationAdministrationGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/RoninMedicationRequestGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/RoninMedicationStatementGenerator.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/RoninMedicationAdministrationGeneratorTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/RoninMedicationRequestGeneratorTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/RoninMedicationStatementGeneratorTest.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninMedicationAdministration.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninMedicationRequest.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninMedicationStatement.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/extractor/MedicationExtractor.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/util/MedicationUtil.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/util/MedicationValidationHelpers.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninMedicationAdministrationTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninMedicationRequestTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninMedicationStatementTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/extractor/MedicationExtractorTest.kt
Due: fhir-ronin

INT-2301: Correct Observation value concept map (#660)
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/BaseRoninObservation.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninStagingRelatedTest.kt
Due: fhir-ronin

INT-2264: Updates to Medication extraction issues found during ITs (#657)
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/localization/BaseGenericTransformer.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/localization/Localizer.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/localization/Normalizer.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninMedicationAdministration.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninMedicationRequest.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninMedicationStatement.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/extractor/MedicationExtractor.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/localization/LocalizerTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/localization/NormalizerTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninMedicationAdministrationTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninMedicationRequestTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninMedicationStatementTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/extractor/MedicationExtractorTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/util/LocalizerTestUtil.kt
Due: fhir-ronin

[INT-2213] Add ServiceRequestService (#656)
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerServiceRequestService.kt
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerVendorFactory.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerServiceRequestServiceTest.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerVendorFactoryTest.kt
  interop-ehr-cerner/src/test/resources/ExampleServiceRequestBundle.json
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicServiceRequestService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicVendorFactory.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicServiceRequestServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicVendorFactoryTest.kt
  interop-ehr-epic/src/test/resources/ExampleServiceRequestBundle.json
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/ServiceRequestService.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/factory/VendorFactory.kt
Due: ehr, ehr-epic, ehr-cerner

INT-2301: Correct extension names for Observation valueCodeableConcepts (#661)
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/profile/RoninExtension.kt
Due: fhir-ronin

[INT-2296] Modifying ehr tests to pass after increase of InvalidReferenceType from Warning to Error (#659)
  gradle/libs.versions.toml
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/BaseObservationGeneratorTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninDocumentReferenceTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninMedicationRequestTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninMedicationTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninProcedureTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/condition/RoninConditionEncounterDiagnosisTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/condition/RoninConditionProblemsAndHealthConcernsTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/diagnosticReport/RoninDiagnosticReportLaboratoryTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/diagnosticReport/RoninDiagnosticReportNoteExchangeTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/BaseRoninVitalSignTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninLaboratoryResultTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninObservationTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninStagingRelatedTest.kt
Due: fhir-ronin

[INT-2286] BUG: References without types are failing incorrectly (#654)
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninCarePlan.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninEncounter.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninMedicationRequest.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninMedicationStatement.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninServiceRequest.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/base/BaseRoninProfile.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/condition/BaseRoninCondition.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/diagnosticReport/BaseRoninDiagnosticReport.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/BaseRoninObservation.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninAppointmentTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninCarePlanTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninEncounterTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninMedicationRequestTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninMedicationStatementTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninRequestGroupTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninServiceRequestTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/condition/RoninConditionProblemsAndHealthConcernsTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/diagnosticReport/RoninDiagnosticReportLaboratoryTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/diagnosticReport/RoninDiagnosticReportNoteExchangeTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/BaseRoninVitalSignTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBloodPressureTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodyHeightTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodyMassIndexTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodySurfaceAreaTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodyTemperatureTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodyWeightTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninHeartRateTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninLaboratoryResultTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninObservationTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninPulseOximetryTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninRespiratoryRateTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninStagingRelatedTest.kt
Due: fhir-ronin

INT-2287: Extension filtering updates (#662)
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/localization/Normalizer.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/localization/NormalizerTest.kt
Due: fhir-ronin

INT-2285: multiple profiles qualify (#655)
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/ResourceFunctions.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninAppointment.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninCarePlan.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninDocumentReference.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninEncounter.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninLocation.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninMedication.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninMedicationAdministration.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninMedicationRequest.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninMedicationStatement.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninOrganization.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninPractitioner.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninPractitionerRole.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninProcedure.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninRequestGroup.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninServiceRequest.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/base/BaseRoninProfile.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/base/MultipleProfileResource.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/condition/BaseRoninCondition.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/diagnosticReport/BaseRoninDiagnosticReport.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/BaseRoninObservation.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninLaboratoryResult.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninObservationsTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/base/BaseRoninProfileTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/base/MultipleProfileResourceTest.kt
Due: fhir-ronin

[INT-2313] Make SmartDataValue.values a list (#666)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicOnboardFlagService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/apporchard/model/SetSmartDataValuesRequest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicOnboardFlagServiceTest.kt
Due: ehr-epic

[INT-2312] Cerner not using application/fhir+json when requesting Binary (#667)
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/client/CernerClient.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/client/CernerClientTest.kt
Due: ehr-cerner

[INT-2305] Implement dependsOn support for Observation.code (#664)
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/normalization/dependson/BaseDependsOnEvaluator.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/normalization/dependson/ObservationDependsOnEvaluator.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/normalization/dependson/ObservationDependsOnEvaluatorTest.kt
Due: fhir-ronin

INT-2241: DiagnosticReportService (#668)
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerDiagnosticReportService.kt
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerVendorFactory.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerDiagnosticReportServiceTest.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerVendorFactoryTest.kt
  interop-ehr-cerner/src/test/resources/ExampleDiagnosticReportByIdResponse.json
  interop-ehr-cerner/src/test/resources/ExampleDiagnosticReportPatientIdBundle.json
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicDiagnosticReportService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicVendorFactory.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicDiagnosticReportServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicVendorFactoryTest.kt
  interop-ehr-epic/src/test/resources/ExampleDiagnosticReportById.json
  interop-ehr-epic/src/test/resources/ExampleDiagnosticReportByPatient.json
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/DiagnosticReportService.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/factory/VendorFactory.kt
  interop-ehr/src/test/kotlin/com/projectronin/interop/ehr/DiagnosticReportServiceTest.kt
Due: ehr, ehr-epic, ehr-cerner

INT-2309: Move to SonarQube and single unit test GHA (#669)
  .github/workflows/ehr_cerner_test.yml
  .github/workflows/ehr_epic_test.yml
  .github/workflows/ehr_test.yml
  .github/workflows/fhir_ronin_generators_test.yml
  .github/workflows/fhir_ronin_test.yml
  .github/workflows/hl7_test.yml
  .github/workflows/tenant_test.yml
  .github/workflows/test.yml
  build.gradle.kts
  codecov.yml
  gradle/libs.versions.toml
  interop-ehr-liquibase/interop-ehr-liquibase.gradle.kts
Due: none

INT-2172: Make MedicationAdministrationService a FHIRService (#671)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicMedicationAdministrationService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicMedicationAdministrationServiceTest.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/MedicationAdministrationService.kt
Due: ehr, ehr-epic

INT-2324: Add Concept Map support for MedAdmin status (#672)
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/RoninMedicationAdministrationGenerator.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/RoninMedicationAdministrationGeneratorTest.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/profile/RoninExtension.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninMedicationAdministration.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninMedicationAdministrationTest.kt
Due: fhir-ronin

[INT-2318] Implement the RCDM generator for ServiceRequest (#676)
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/RoninServiceRequestGenerator.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/RoninServiceRequestGeneratorTest.kt
Due: none

INT-2212: ehr procedure service (#675)
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerProcedureService.kt
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerVendorFactory.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerProcedureServiceTest.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerVendorFactoryTest.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicProcedureService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicVendorFactory.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicDiagnosticReportServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicProcedureServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicVendorFactoryTest.kt
  interop-ehr-epic/src/test/resources/ExampleProcedureById.json
  interop-ehr-epic/src/test/resources/ExampleProcedureByPatient.json
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/ProcedureService.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/factory/VendorFactory.kt
  interop-ehr/src/test/kotlin/com/projectronin/interop/ehr/DiagnosticReportServiceTest.kt
  interop-ehr/src/test/kotlin/com/projectronin/interop/ehr/ProcedureServiceTest.kt
Due: ehr, ehr-epic, ehr-cerner

INT-2339: Rework MRN Identifier logic for Patient (#678)
  gradle/libs.versions.toml
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerVendorFactory.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerVendorFactoryTest.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicVendorFactory.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicVendorFactoryTest.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/decorator/DecoratorPatientService.kt
  interop-ehr/src/test/kotlin/com/projectronin/interop/ehr/decorator/DecoratorPatientServiceTest.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninPatient.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninPatientTest.kt
Due: ehr, ehr-epic, fhir-ronin, ehr-cerner

INT-1844: Remove MDM defaults now that MDA is configured (#679)
  interop-hl7/src/main/kotlin/com/projectronin/interop/ehr/hl7/MDMConfigService.kt
  interop-hl7/src/test/kotlin/com/projectronin/interop/ehr/hl7/MDMConfigServiceTest.kt
Due: none

Update to use basic_gradle_build_publish action (#680)
  .github/workflows/test.yml
Due: none

INT-2362: Add William and update GHA runners (#682)
  .github/workflows/create_release.yml
  .github/workflows/deploy_ehr_liquibase.yml
  .github/workflows/lint.yml
  .github/workflows/snapshot_publish.yml
  .github/workflows/test.yml
  .github/workflows/verify_mergeable.yml
  CODEOWNERS
Due: none

[INT-2313] Support timeout and add default timeout to Binary Service (#683)
  gradle/libs.versions.toml
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerBinaryService.kt
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/client/CernerClient.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerBinaryServiceTest.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/TestUtil.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/client/CernerClientTest.kt
  interop-ehr-cerner/src/test/resources/logback-test.xml
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicBinaryService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicBinaryServiceTest.kt
  interop-ehr-epic/src/test/resources/logback-test.xml
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/client/EHRClient.kt
  interop-ehr/src/test/kotlin/com/projectronin/interop/ehr/client/EHRClientTest.kt
  interop-ehr/src/test/resources/logback-test.xml
  interop-fhir-ronin-generators/src/test/resources/logback-test.xml
  interop-fhir-ronin/src/test/resources/logback-test.xml
  interop-hl7/src/test/resources/logback-test.xml
  interop-tenant/src/test/resources/logback-test.xml
Due: tenant, ehr, ehr-epic, fhir-ronin, ehr-cerner

INT-2341: RCDM Updates (#685)
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/RoninMedicationAdministrationGenerator.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/RCDMVersion.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninCarePlan.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninMedicationAdministration.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninMedicationRequest.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninMedicationStatement.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninLaboratoryResult.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninObservation.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/util/MedicationUtil.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninMedicationAdministrationTest.kt
Due: fhir-ronin

INT-2391: Removed Doc Ref category validation (#686)
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/RoninDocumentReferenceGeneratorTest.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninDocumentReference.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninDocumentReferenceTest.kt
Due: fhir-ronin

[INT-2393] prevent RoninServiceRequest NoSuchElementException (#687)
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninServiceRequest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninServiceRequestTest.kt
Due: fhir-ronin

fix package name in interop-ehr-hl7 (#689)
  interop-hl7/src/main/kotlin/com/projectronin/interop/ehr/hl7/MDMService.kt
  interop-hl7/src/main/kotlin/com/projectronin/interop/ehr/hl7/converters/datatypes/DateUtils.kt
  interop-hl7/src/test/kotlin/com/projectronin/interop/ehr/hl7/converters/datatypes/DateTimeUtilsTest.kt
Due: none

INT-2398: Make Cerner DocRef categories configurable (#690)
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerDocumentReferenceService.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerDocumentReferenceTest.kt
Due: ehr-cerner

[INT-2349] Remove default normalization file (#692)
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/normalization/NormalizationRegistryClient.kt
Due: fhir-ronin

INT-2360: conceptmap matching (#691)
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/normalization/NormalizationRegistryClient.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/normalization/NormalizationRegistryClientTest.kt
Due: fhir-ronin

INT-2406: Make Cerner DocumentReference batch sizes configurable (#694)
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerDocumentReferenceService.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerDocumentReferenceTest.kt
Due: ehr-cerner

[INT-2410] Change restrictions on PulseOx profile (#698)
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninPulseOximetry.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninPulseOximetryTest.kt
Due: fhir-ronin

Path conditions:
  tenant: any of: interop-tenant/, but not: **/SystemNormalizers, **/EHRClient
  ehr: any of: interop-ehr/, but not: **/SystemNormalizers, **/EHRClient
  ehr-epic: any of: interop-ehr-epic/, but not: **/SystemNormalizers, **/EHRClient
  fhir-ronin: any of: interop-fhir-ronin/, but not: **/SystemNormalizers, **/EHRClient
  ehr-cerner: any of: interop-ehr-cerner/, but not: **/SystemNormalizers, **/EHRClient
