Repository The-Ronin-Project/interop-ehr: changes, and which Codecov flags are due for each by the changed paths.
All: tenant, ehr, transform, ehr-epic

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    default_rules:
      flag_coverage_not_uploaded_behavior: pass
    project:
      tenant:
        target: auto
        threshold: 1%
        flags:
          - tenant
      ehr:
        target: auto
        threshold: 1%
        flags:
          - ehr
      transform:
        target: auto
        threshold: 1%
        flags:
          - transform
      ehr-epic:
        target: auto
        threshold: 1%
        flags:
          - ehr-epic

    patch:
      tenant:
        target: 80
        threshold: 1%
        base: auto
        flags:
          - tenant
      ehr:
        target: 80
        threshold: 1%
        base: auto
        flags:
          - ehr
      transform:
        target: 80
        threshold: 1%
        base: auto
        flags:
          - transform
      ehr-epic:
        target: 80
        threshold: 1%
        base: auto
        flags:
          - ehr-epic

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches: null
  show_carryforward_flags: false

flags:
  tenant:
    paths:
      - interop-tenant/
    carryforward: true
  ehr:
    paths:
      - interop-ehr/
    carryforward: true
  transform:
    paths:
      - interop-transform/
    carryforward: true
  ehr-epic:
    paths:
      - interop-ehr-epic/
    carryforward: true

INT-486: Cleanup modules to reduce bloat (#65)
  .github/workflows/ehr_auth_test.yml
  .github/workflows/ehr_factory_test.yml
  codecov.yml
  interop-ehr-auth/README.md
  interop-ehr-auth/interop-ehr-auth.gradle.kts
  interop-ehr-epic/interop-ehr-epic.gradle.kts
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/transform/EpicAppointmentTransformer.kt
  interop-ehr-factory/README.md
  interop-ehr-factory/interop-ehr-factory.gradle.kts
  interop-ehr/README.md
  interop-ehr/interop-ehr.gradle.kts
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/auth/AuthenticationService.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/auth/EHRAuthenticationBroker.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/factory/EHRFactory.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/factory/VendorFactory.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/transform/AppointmentTransformer.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/transform/LocationTransformer.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/transform/PatientTransformer.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/transform/PractitionerRoleTransformer.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/transform/PractitionerTransformer.kt
  interop-ehr/src/test/kotlin/com/projectronin/interop/ehr/auth/AuthenticationBrokerTest.kt
  interop-ehr/src/test/kotlin/com/projectronin/interop/ehr/factory/EHRFactoryTest.kt
  interop-transform/src/main/kotlin/com/projectronin/interop/transform/fhir/r4/R4AppointmentTransformer.kt
  interop-transform/src/main/kotlin/com/projectronin/interop/transform/fhir/r4/R4LocationTransformer.kt
  interop-transform/src/main/kotlin/com/projectronin/interop/transform/fhir/r4/R4PatientTransformer.kt
  interop-transform/src/main/kotlin/com/projectronin/interop/transform/fhir/r4/R4PractitionerRoleTransformer.kt
  interop-transform/src/main/kotlin/com/projectronin/interop/transform/fhir/r4/R4PractitionerTransformer.kt
  settings.gradle.kts
Due: ehr, transform, ehr-epic

consolidate TenantService (#66)
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/TenantService.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/TenantServiceDB.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/TenantServiceTest.kt
Due: tenant

Default FHIR STU3 Identifier, consolidate tests (#69)
  interop-transform/src/main/kotlin/com/projectronin/interop/transform/fhir/r4/R4PatientTransformer.kt
  interop-transform/src/test/kotlin/com/projectronin/interop/transform/fhir/r4/R4PatientTransformerTest.kt
Due: transform

Int 456 implement ehr identifier search batching (#68)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicPagingService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicPatientService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicPractitionerService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicPatientServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicPractitionerServiceTest.kt
Due: ehr-epic

INT-493 add patient system to EpicTenant (#70)
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/tenant-epic/io_tenant_epic-01.yaml
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/binding/EpicTenantDOs.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/model/EpicTenantDO.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/data/TenantDAOTest.kt
  interop-tenant/src/test/resources/dbunit/tenant/EHRTenants.yaml
  interop-tenant/src/test/resources/dbunit/tenant/EpicHSITenants.yaml
Due: tenant

INT-496 Add getMRNIdentifier to identifier service (#71)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicIdentifierService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicIdentifierServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/TestUtil.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/IdentifierService.kt
  interop-ehr/src/test/kotlin/com/projectronin/interop/ehr/factory/EHRFactoryTest.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/TenantService.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/model/vendor/Epic.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/TenantServiceTest.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/model/TenantTest.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/model/vendor/EpicTest.kt
  interop-transform/src/test/kotlin/com/projectronin/interop/transform/util/IdHelpersTest.kt
Due: tenant, ehr, transform, ehr-epic

Moved provider pool logic to ProviderPoolService (#72)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicMessageService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicMessageServiceTest.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/ProviderPoolService.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/TenantService.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/ProviderPoolServiceTest.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/TenantServiceTest.kt
Due: tenant, ehr-epic

INT-478 Add GetAll to ProviderPoolDao for a given Tenant (#74)
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/ProviderPoolDAO.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/data/ProviderPoolDAOTest.kt
Due: tenant

INT-466: Add release workflow (#75)
  .github/workflows/create_release.yml
Due: none

INT-494 Add Ronin-MRN logic to Patient Transformer (#73)
  interop-transform/src/main/kotlin/com/projectronin/interop/transform/fhir/r4/R4PatientTransformer.kt
  interop-transform/src/test/kotlin/com/projectronin/interop/transform/fhir/r4/R4PatientTransformerTest.kt
Due: transform

Fix tests (#77)
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/data/EhrDAOTest.kt
  interop-tenant/src/test/resources/dbunit/ehr/NoEHRVendor.yaml
Due: tenant

INT-502 Remove requirements on Birthdate, Address and Telecom (#76)
  interop-transform/src/main/kotlin/com/projectronin/interop/transform/fhir/r4/R4PatientTransformer.kt
  interop-transform/src/test/kotlin/com/projectronin/interop/transform/fhir/r4/R4PatientTransformerTest.kt
Due: transform

INT-503: Fix circular dependency in R4PatientTransformer (#80)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicVendorFactory.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/spring/EpicSpringConfig.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/spring/EpicSpringConfigTest.kt
  interop-transform/src/main/kotlin/com/projectronin/interop/transform/fhir/r4/R4PatientTransformer.kt
  interop-transform/src/test/kotlin/com/projectronin/interop/transform/fhir/r4/R4PatientTransformerTest.kt
Due: transform, ehr-epic

INT-490: Added GHA for publishing interop-ehr-liquibase docker image. (#78)
  .github/workflows/deploy_ehr_liquibase.yml
Due: none

Update ProviderPoolDAO (#79)
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/ProviderPoolService.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/ProviderPoolDAO.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/binding/ProviderPoolDOs.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/model/ProviderPoolDO.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/ProviderPoolServiceTest.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/data/ProviderPoolDAOTest.kt
Due: tenant

INT-519 Implement EpicTenantDAO (#81)
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/EpicTenantDAO.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/binding/EpicTenantDOs.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/model/EHRTenantDO.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/model/EpicTenantDO.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/data/EpicTenantDAOTest.kt
  interop-tenant/src/test/resources/dbunit/epic-tenants/EpicTenants.yaml
  interop-tenant/src/test/resources/dbunit/epic-tenants/ExpectedEpicTenantsAfterInsert.yaml
  interop-tenant/src/test/resources/dbunit/epic-tenants/ExpectedEpicTenantsAfterUpdate.yaml
  interop-tenant/src/test/resources/dbunit/epic-tenants/Tenants.yaml
Due: tenant

INT-462 Implement TenantService functions needed for TenantController (#83)
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/EHRTenantDAOFactory.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/TenantService.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/TenantServiceMappingUtils.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/EHRTenantDAO.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/EhrDAO.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/EpicTenantDAO.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/TenantDAO.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/exception/NoEHRFoundException.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/exception/NoTenantFoundException.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/EHRTenantDAOFactoryTest.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/TenantServiceTest.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/data/EhrDAOTest.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/data/EpicTenantDAOTest.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/data/TenantDAOTest.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/exception/NoEHRFoundExceptionTest.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/exception/NoTenantFoundExceptionTest.kt
Due: tenant

INT-523 Support Transactions (#84)
  interop-tenant/interop-tenant.gradle.kts
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/TenantService.kt
Due: tenant

INT-509: Allow nullable inputs in Epic requests (#85)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/apporchard/model/GetPatientAppointmentsRequest.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/apporchard/model/GetProviderAppointmentRequest.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/apporchard/model/SendMessageRequest.kt
Due: ehr-epic

INT-532: Support separate auth and service endpoints (#86)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/auth/EpicAuthenticationService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/TestUtil.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/auth/EpicAuthenticationServiceTest.kt
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/tenant-epic/io_tenant_epic-01.yaml
  interop-ehr/src/test/kotlin/com/projectronin/interop/ehr/factory/EHRFactoryTest.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/TenantServiceMappingUtils.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/EpicTenantDAO.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/binding/EpicTenantDOs.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/model/EpicTenantDO.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/model/AuthenticationConfig.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/TenantServiceTest.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/data/EpicTenantDAOTest.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/model/AuthenticationConfigTest.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/model/TenantTest.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/model/vendor/EpicTest.kt
  interop-tenant/src/test/resources/dbunit/epic-tenants/EpicTenants.yaml
  interop-tenant/src/test/resources/dbunit/epic-tenants/ExpectedEpicTenantsAfterInsert.yaml
  interop-tenant/src/test/resources/dbunit/epic-tenants/ExpectedEpicTenantsAfterUpdate.yaml
  interop-transform/src/test/kotlin/com/projectronin/interop/transform/util/IdHelpersTest.kt
Due: tenant, ehr, transform, ehr-epic

INT-531: Use Version Catalogs and add dependabot-like support (#88)
  .github/workflows/upgrade_dependencies.yml
  build.gradle.kts
  gradle.properties
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  interop-ehr-epic/interop-ehr-epic.gradle.kts
  interop-ehr/interop-ehr.gradle.kts
  interop-tenant/interop-tenant.gradle.kts
  interop-transform/interop-transform.gradle.kts
  settings.gradle.kts
Due: tenant, ehr, transform, ehr-epic

Adding ConditionTransformer for transforming R4Conditions into OncologyConditions (#87)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicVendorFactory.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicVendorFactoryTest.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/factory/VendorFactory.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/transform/ConditionTransformer.kt
  interop-transform/src/main/kotlin/com/projectronin/interop/transform/fhir/r4/R4ConditionTransformer.kt
  interop-transform/src/main/kotlin/com/projectronin/interop/transform/fhir/r4/util/Localizers.kt
  interop-transform/src/test/kotlin/com/projectronin/interop/transform/fhir/r4/R4ConditionTransformerTest.kt
  interop-transform/src/test/kotlin/com/projectronin/interop/transform/fhir/r4/util/LocalizersTest.kt
Due: ehr, transform, ehr-epic

Update JSON naming to match Epic schema (#89)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/apporchard/model/SendMessageRecipient.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/apporchard/model/SendMessageRecipientTest.kt
Due: ehr-epic

Upgraded dependencies for groupId com.projectronin.interop (#91)
  gradle/libs.versions.toml
Due: none

INT-536 Serialize (#90)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicIdentifierService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicVendorFactory.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/model/EpicAppointment.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/model/inbound/EpicAppointmentDeserializer.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/model/inbound/StandardizedIdentifierDeserializer.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/model/outbound/EpicAppointmentSerializer.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/model/outbound/StandardizedIdentifierSerializer.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicIdentifierServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/model/EpicAppointmentTest.kt
  interop-ehr-epic/src/test/resources/ExampleSerializedEpicAppointment.json
  interop-ehr-epic/src/test/resources/ExampleSerializedEpicAppointmentWithNulls.json
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/factory/VendorFactory.kt
Due: ehr, ehr-epic

INT-584 better errors from DAO (#92)
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/EhrDAO.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/data/EhrDAOTest.kt
Due: tenant

Upgraded com.projectronin.interop.fhir:interop-fhir from 1.0.0-SNAPSHOT to 1.0.0 (#94)
  gradle/libs.versions.toml
Due: none

INT-561: Prepare for release (#96)
  .github/workflows/create_release.yml
  .github/workflows/snapshot_publish.yml
  build.gradle.kts
  settings.gradle.kts
Due: none

INT-628: Add support for marking the next release version (#97)
  .github/workflows/mark_next_release.yml
Due: none

INT-612 Mirth Tenant Config Objects (#93)
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/ehr.db.changelog-1.0.0.yaml
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/ehr.db.changelog-1.1.0.yaml
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/ehr.db.changelog-master.yaml
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/mirth-tenant-config/io_mirth_tenant_config-01.yaml
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/MirthTenantConfigDAO.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/binding/MirthTenantConfigDOs.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/model/MirthTenantConfigDO.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/data/MirthTenantConfigDAOTest.kt
  interop-tenant/src/test/resources/dbunit/mirth-tenant-config/ExpectedAfterInsert.yaml
  interop-tenant/src/test/resources/dbunit/mirth-tenant-config/ExpectedAfterUpdate.yaml
  interop-tenant/src/test/resources/dbunit/mirth-tenant-config/MirthTenantConfig.yaml
Due: tenant

INT-599 Add Swagger/Open API support (#98)
  interop-ehr-epic/interop-ehr-epic.gradle.kts
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/apporchard/model/GetPatientAppointmentsRequest.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/apporchard/model/GetProviderAppointmentRequest.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/apporchard/model/ScheduleProvider.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/apporchard/model/SendMessageRecipient.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/apporchard/model/SendMessageRequest.kt
Due: ehr-epic

INT-613: Added support for multiple instances of a vendor config (#95)
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/TestUtil.kt
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/ehr.db.changelog-1.1.0.yaml
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/ehr.db.changelog-master.yaml
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/ehr/io_ehr-02.yaml
  interop-ehr/src/test/kotlin/com/projectronin/interop/ehr/factory/EHRFactoryTest.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/TenantService.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/TenantServiceMappingUtils.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/EhrDAO.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/binding/EhrDOs.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/model/EhrDO.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/jackson/JacksonManager.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/model/vendor/Epic.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/model/vendor/Vendor.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/TenantServiceTest.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/data/EhrDAOTest.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/model/TenantTest.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/model/vendor/EpicTest.kt
  interop-tenant/src/test/resources/dbunit/ehr/EHRVendor.yaml
  interop-tenant/src/test/resources/dbunit/epic-tenants/EpicTenants.yaml
  interop-tenant/src/test/resources/dbunit/epic-tenants/ExpectedEpicTenantsAfterInsert.yaml
  interop-tenant/src/test/resources/dbunit/epic-tenants/Tenants.yaml
  interop-tenant/src/test/resources/dbunit/mirth-tenant-config/MirthTenantConfig.yaml
  interop-tenant/src/test/resources/dbunit/provider-pool/ProviderPools.yaml
  interop-tenant/src/test/resources/dbunit/tenant/ExpectedTenantsAfterInsert.yaml
  interop-tenant/src/test/resources/dbunit/tenant/Tenants.yaml
  interop-transform/src/test/kotlin/com/projectronin/interop/transform/util/IdHelpersTest.kt
Due: tenant, ehr, transform, ehr-epic

Utilize Swagger Annotations instead of Springdoc dependency (#100)
  gradle/libs.versions.toml
  interop-ehr-epic/interop-ehr-epic.gradle.kts
Due: ehr-epic

Int 560 uplift to ktor 2 x (#99)
  gradle/libs.versions.toml
  interop-ehr-epic/interop-ehr-epic.gradle.kts
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicMessageService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicPagingService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicPatientService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/auth/EpicAuthenticationService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/client/EpicClient.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicConditionServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicMessageServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicPatientServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicPractitionerServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/TestUtil.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/auth/EpicAuthenticationServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/client/EpicClientTest.kt
Due: ehr-epic

Upgraded io.swagger.core.v3:swagger-annotations from 2.1.12 to 2.2.0 (#101)
  gradle/libs.versions.toml
Due: none

Removing springdoc (#103)
  interop-ehr-epic/interop-ehr-epic.gradle.kts
Due: ehr-epic

Ensure proper fetch depth when determining artifact version (#104)
  .github/workflows/fix_deploy_ehr_liquibase.yml
Due: none

Fetch GH tags before generating docker image tag (#105)
  .github/workflows/deploy_ehr_liquibase.yml
Due: none

Fix the retro release to not require workflow run success (#106)
  .github/workflows/fix_deploy_ehr_liquibase.yml
Due: none

Remove retro Docker image release after fixing current image tags (#107)
  .github/workflows/fix_deploy_ehr_liquibase.yml
Due: none
