Repository The-Ronin-Project/interop-ehr: changes, and which Codecov flags are due for each by the changed paths.
All: tenant, ehr, ehr-epic, fhir-ronin, ehr-cerner

codecov.yml:

codecov:
  require_ci_to_pass: true
ignore:
  - "**/SystemNormalizers"
  - "**/EHRClient"
coverage:
  status:
    default_rules:
      flag_coverage_not_uploaded_behavior: pass
    project:
      tenant:
        target: auto
        threshold: 1%
        flags:
          - tenant
      ehr:
        target: auto
        threshold: 1%
        flags:
          - ehr
      ehr-epic:
        target: auto
        threshold: 1%
        flags:
          - ehr-epic
      fhir-ronin:
        target: auto
        threshold: 1%
        flags:
          - fhir-ronin
      ehr-cerner:
        target: auto
        threshold: 1%
        flags:
          - ehr-cerner

    patch:
      tenant:
        target: 80
        threshold: 1%
        base: auto
        flags:
          - tenant
      ehr:
        target: 80
        threshold: 1%
        base: auto
        flags:
          - ehr
      ehr-epic:
        target: 80
        threshold: 1%
        base: auto
        flags:
          - ehr-epic
      fhir-ronin:
        target: 80
        threshold: 1%
        base: auto
        flags:
          - fhir-ronin
      ehr-cerner:
        target: 80
        threshold: 1%
        base: auto
        flags:
          - ehr-cerner

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches: null
  show_carryforward_flags: false

flags:
  tenant:
    paths:
      - interop-tenant/
    carryforward: true
  ehr:
    paths:
      - interop-ehr/
    carryforward: true
  ehr-epic:
    paths:
      - interop-ehr-epic/
    carryforward: true
  fhir-ronin:
    paths:
      - interop-fhir-ronin/
    carryforward: true
  ehr-cerner:
    paths:
      - interop-ehr-cerner/
    carryforward: true

INT-1882: Correct generator validation tests (#531)
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninBodySurfaceAreaGeneratorTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninBodyTemperatureGeneratorTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninHeartRateGeneratorTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninPulseOximetryGeneratorTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninRespiratoryRateGeneratorTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninStagingRelatedGeneratorTest.kt
Due: none

INT-1753: RequestGroup resource (#529)
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/RCDMVersion.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/profile/RoninProfile.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninRequestGroup.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninRequestGroupTest.kt
Due: fhir-ronin

INT-1757: request service for ehr and tests (#532)
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerRequestGroupService.kt
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerVendorFactory.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerRequestGroupTest.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerVendorFactoryTest.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicRequestGroupService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicVendorFactory.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicRequestGroupTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicVendorFactoryTest.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/RequestGroupService.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/factory/VendorFactory.kt
Due: ehr, ehr-epic, ehr-cerner

INT-1866: implement care plan service (#535)
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerCarePlanService.kt
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerVendorFactory.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerCarePlanServiceTest.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerVendorFactoryTest.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicCarePlanService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicVendorFactory.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicCarePlanServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicVendorFactoryTest.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/CarePlanService.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/factory/VendorFactory.kt
Due: ehr, ehr-epic, ehr-cerner

INT-1732: rcdm location generator (#536)
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/RoninLocation.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/BaseRoninObservationGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninBloodPressureGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninBodyHeightGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninBodyMassIndexGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninBodySurfaceAreaGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninBodyTemperatureGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninBodyWeightGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninHeartRateGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninLaboratoryResultGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninPulseOximetryGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninRespiratoryRateGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninStagingRelatedGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/util/RoninCodeUtil.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/util/RoninCodeableConceptUtil.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/util/RoninStringOrDARUtil.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/RoninLocationTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/util/RoninCodeUtilTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/util/RoninCodeableConceptUtilTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/util/RoninStringOrDARUtilTest.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninLocation.kt
Due: fhir-ronin

INT-1802 Updated how blocked resources was stored -- moved from separ… (#537)
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/ehr.db.changelog-10.2.0.yaml
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/ehr.db.changelog-master.yaml
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/mirth-tenant-config/io_mirth_tenant_config-04.yaml
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/tenant-blocked-resource/io_tenant_blocked_resource-02.yaml
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/MirthTenantConfigDAO.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/TenantBlockedResourceDAO.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/binding/MirthTenantConfigDOs.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/binding/TenantBlockedResourceDOs.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/model/MirthTenantConfigDO.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/model/TenantBlockedResourceDO.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/data/MirthTenantConfigDAOTest.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/data/TenantBlockedResourceDAOTest.kt
  interop-tenant/src/test/resources/dbunit/mirth-tenant-config/ExpectedAfterInsert.yaml
  interop-tenant/src/test/resources/dbunit/mirth-tenant-config/ExpectedAfterUpdate.yaml
  interop-tenant/src/test/resources/dbunit/mirth-tenant-config/MirthTenantConfig.yaml
Due: tenant

INT-1933: Handle missing resources from EHR DA (#538)
  gradle/libs.versions.toml
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicMessageService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicOnboardFlagService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicMessageServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicOnboardFlagServiceTest.kt
Due: ehr-epic

INT-1935 Removing io_tenant_blocked_resource table from existence (#539)
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/ehr.db.changelog-10.2.0.yaml
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/ehr.db.changelog-9.12.1.yaml
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/ehr.db.changelog-master.yaml
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/tenant-blocked-resource/io_tenant_blocked_resource-01.yaml
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/tenant-blocked-resource/io_tenant_blocked_resource-02.yaml
Due: none

INT-1934: Ensure map is called on qualified profile for multi-profile resources (#542)
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/base/MultipleProfileResource.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninConditionsTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninDiagnosticReportsTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninObservationsTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/base/MultipleProfileResourceTest.kt
Due: fhir-ronin

INT-1903 - adjust to interop-fhir PR #221 (#541)
  gradle/libs.versions.toml
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninCarePlanTest.kt
Due: fhir-ronin

INT-1726: rcdm appointment generator (#540)
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/RoninAppointment.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/util/RoninParticipantUtil.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/RoninAppointmentTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/util/RoninParticipantUtilTest.kt
Due: none

INT-1947: Handle no appointments found for provider/location (#545)
  CODEOWNERS
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentServiceTest.kt
Due: ehr-epic

INT-1950: Handle no appointments found for Cerner (#546)
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerAppointmentService.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerAppointmentServiceTest.kt
Due: ehr-cerner

adding rcdm condition generators (#553)
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/condition/RoninConditionEncounterDiagnosis.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/condition/RoninConditionProblemsAndHealthConcerns.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/util/RoninConditionUtil.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/condition/RoninConditionEncounterDiagnosisTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/condition/RoninConditionProblemsAndHealthConcernsTest.kt
Due: none

INT-1912 - adjust to interop-fhir #224 (#551)
  gradle/libs.versions.toml
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninMedicationRequestTest.kt
Due: fhir-ronin

INT-1959: Adjust to expected group element code format (#554)
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/normalization/NormalizationRegistryClient.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/normalization/NormalizationRegistryClientTest.kt
Due: fhir-ronin

[INT-1891] Updating interop-ehr to new dependency plugin and GHA (#555)
  .github/workflows/upgrade_dependencies.yml
  build.gradle.kts
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  interop-ehr-cerner/interop-ehr-cerner.gradle.kts
  interop-ehr-epic/interop-ehr-epic.gradle.kts
  interop-ehr-liquibase/interop-ehr-liquibase.gradle.kts
  interop-ehr/interop-ehr.gradle.kts
  interop-fhir-ronin-generators/interop-fhir-ronin-generators.gradle.kts
  interop-fhir-ronin/interop-fhir-ronin.gradle.kts
  interop-hl7/interop-hl7.gradle.kts
  interop-tenant/interop-tenant.gradle.kts
  settings.gradle.kts
Due: tenant, ehr, ehr-epic, fhir-ronin, ehr-cerner

INT-1961 - absorb impact of interop-fhir PR 227 (#557)
  gradle/libs.versions.toml
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/RoninAppointment.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/BaseRoninObservationGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninBloodPressureGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninBodyHeightGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninBodyMassIndexGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninBodySurfaceAreaGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninBodyTemperatureGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninBodyWeightGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninHeartRateGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninLaboratoryResultGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninPulseOximetryGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninRespiratoryRateGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninStagingRelatedGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/util/RoninConditionUtil.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/RoninAppointmentTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninBodyHeightGeneratorTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninBodyMassIndexGeneratorTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninBodySurfaceAreaGeneratorTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninBodyTemperatureGeneratorTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninBodyWeightGeneratorTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninHeartRateGeneratorTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninLaboratoryResultGeneratorTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninPulseOximetryGeneratorTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninRespiratoryRateGeneratorTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninStagingRelatedGeneratorTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/util/RoninCodeableConceptUtilTest.kt
Due: none

INT-1911 generate rcdm medication request (#559)
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/RoninMedicationRequest.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninBloodPressureGenerator.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/util/RoninDynamicValueUtil.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/util/RoninReferenceUtil.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/RoninAppointmentTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/RoninCarePlanTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/RoninMedicationRequestTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/RoninRequestGroupTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/condition/RoninConditionEncounterDiagnosisTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/condition/RoninConditionProblemsAndHealthConcernsTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/BaseObservationGeneratorTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninBloodPressureGeneratorTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninStagingRelatedGeneratorTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/util/RoninDynamicValueUtilTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/util/RoninReferenceUtilTest.kt
Due: none

implement MedicationStatement generator (#561)
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/RoninMedicationStatement.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/RoninMedicationRequestTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/RoninMedicationStatementTest.kt
Due: none

INT-1731 - RCDM Practitioner generator, optional ContactPoint (#562)
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/RoninPractitioner.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/util/RoninContactPointUtil.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/RoninLocationTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/RoninPractitionerTest.kt
Due: none

INT-1973 - implement RCDM DocumentReference generator (#564)
  gradle/libs.versions.toml
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/RoninDocumentReference.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/util/RoninCodeUtil.kt
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/util/RoninCodeableConceptUtil.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/RoninDocumentReferenceTest.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/util/RoninCodeableConceptUtilTest.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninPatient.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninPatientTest.kt
Due: fhir-ronin

INT-1971: Implement Document Reference Services (#565)
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerDocumentReferenceService.kt
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerVendorFactory.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerDocumentReferenceTest.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerVendorFactoryTest.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicDocumentReferenceService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicVendorFactory.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicDocumentReferenceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicVendorFactoryTest.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/DocumentReferenceService.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/factory/VendorFactory.kt
Due: ehr, ehr-epic, ehr-cerner

add DocumentReference.type registry mappings (#568)
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/RoninDocumentReferenceTest.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninDocumentReference.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninDocumentReferenceTest.kt
Due: fhir-ronin

INT-2008: Add Binary Service (#570)
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerBinaryService.kt
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/client/CernerClient.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerBinaryServiceTest.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicBinaryService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicBinaryServiceTest.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/BinaryService.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/client/EHRClient.kt
Due: ehr, ehr-epic, ehr-cerner

INT-2010 - multi-ID, batching for FHIR services (#569)
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerFHIRService.kt
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerLocationService.kt
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerMedicationRequestService.kt
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerMedicationService.kt
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerOrganizationService.kt
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerPractitionerRoleService.kt
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerPractitionerService.kt
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerRequestGroupService.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerLocationServiceTest.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerMedicationServiceTest.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerOrganizationServiceTest.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerPractitionerRoleServiceTest.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerPractitionerServiceTest.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerRequestGroupTest.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicFHIRService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicLocationService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicMedicationService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicObservationService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicOrganizationService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicPatientService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicPractitionerRoleService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicPractitionerService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicRequestGroupService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicLocationServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicMedicationServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicOrganizationServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicPractitionerRoleServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicPractitionerServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicRequestGroupTest.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/FHIRService.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/LocationService.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/OrganizationService.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/RequestGroupService.kt
Due: ehr, ehr-epic, ehr-cerner

Int 2008 define and implement the binary interop ehr service (#573)
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerVendorFactory.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerVendorFactoryTest.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicVendorFactory.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicVendorFactoryTest.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/factory/VendorFactory.kt
Due: ehr, ehr-epic, ehr-cerner

[INT-1922] Update the interop-ehr implementation of MedicationStatement (#571)
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerMedicationStatementService.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerMedicationStatementServiceTest.kt
Due: ehr-cerner

INT-1943 create medication rcdm generator (#572)
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/RoninMedication.kt
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/RoninMedicationTest.kt
Due: none

INT-2028: Correct getByIDs to send proper list (#575)
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerFHIRService.kt
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/client/CernerClient.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerAppointmentServiceTest.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerCarePlanServiceTest.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerEncounterServiceTest.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerFHIRServiceTest.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerLocationServiceTest.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerMedicationServiceTest.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerOrganizationServiceTest.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerPractitionerServiceTest.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/client/CernerClientTest.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicFHIRService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicFHIRServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicLocationServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicMedicationServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicOrganizationServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicPractitionerServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicRequestGroupTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/client/EpicClientTest.kt
  interop-ehr/interop-ehr.gradle.kts
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/client/EHRClient.kt
  interop-ehr/src/test/kotlin/com/projectronin/interop/ehr/client/EHRClientTest.kt
Due: ehr, ehr-epic, ehr-cerner

Correct use of List in Epic requests (#577)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicDocumentReferenceService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicEncounterService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicPractitionerRoleService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicEncounterServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicPractitionerRoleServiceTest.kt
Due: ehr-epic

INT-1974: Small updates for Doc Ref/Binary (#580)
  interop-ehr-cerner/src/main/kotlin/com/projectronin/interop/ehr/cerner/CernerBinaryService.kt
  interop-ehr-cerner/src/test/kotlin/com/projectronin/interop/ehr/cerner/CernerBinaryServiceTest.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicBinaryService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicDocumentReferenceService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicBinaryServiceTest.kt
Due: ehr-epic, ehr-cerner

Run dependency upgrades on Saturday and Wednesday (#576)
  .github/workflows/upgrade_dependencies.yml
Due: none

INT-1974: Set content type (#582)
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/client/EHRClient.kt
Due: ehr

INT-2046: Support STU3 meta.source and ID lookups (#585)
  gradle/libs.versions.toml
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicFHIRService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicLocationService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicMedicationService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicMedicationStatementService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicObservationService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicOrganizationService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicPatientService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicPractitionerRoleService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicPractitionerService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicRequestGroupService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicSTU3FHIRService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicMedicationStatementTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicSTU3FHIRServiceTest.kt
  interop-ehr-epic/src/test/resources/ExampleMedicationStatementBundle.json
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/outputs/EHRResponse.kt
  interop-ehr/src/test/kotlin/com/projectronin/interop/ehr/outputs/EHRResponseTest.kt
Due: ehr, ehr-epic

INT-2040: Update onboard flag service (#587)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicOnboardFlagService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/apporchard/model/SetPatientFlagRequest.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/apporchard/model/SetSmartDataValuesRequest.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/apporchard/model/SetSmartDataValuesResult.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicOnboardFlagServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/apporchard/model/SetPatientFlagRequestTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/apporchard/model/SetPatientFlagResponseTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/apporchard/model/SetSmartDataValuesRequestTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/apporchard/model/SetSmartDataValuesResponseTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/client/EpicClientTest.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/client/EHRClient.kt
Due: ehr, ehr-epic

Small typo fix (#590)
  interop-fhir-ronin-generators/src/main/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/observation/RoninBloodPressureGenerator.kt
Due: none

INT-2054 - RCDM updates for 3.24.1 (#589)
  gradle/libs.versions.toml
  interop-fhir-ronin-generators/src/test/kotlin/com/projectronin/interop/fhir/ronin/generators/resource/RoninRequestGroupTest.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/RCDMVersion.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/profile/RoninExtension.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninDocumentReference.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/BaseRoninProfileObservation.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBloodPressure.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodyHeight.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodyMassIndex.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodySurfaceArea.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodyTemperature.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninBodyWeight.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninHeartRate.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninLaboratoryResult.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninObservation.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninPulseOximetry.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninRespiratoryRate.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninStagingRelated.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninStagingRelatedTest.kt
Due: fhir-ronin
