Repository The-Ronin-Project/interop-ehr: changes, and which Codecov flags are due for each by the changed paths.
All: tenant, ehr, transform, ehr-epic

[INT-907] make identifier service take and return R4 Identifiers (#175)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicIdentifierService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/apporchard/model/IDType.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/model/EpicAppointment.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/model/EpicAppointmentBundle.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/model/EpicPatientParticipant.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/model/EpicPatientReference.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/model/EpicProviderParticipant.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/model/EpicProviderReference.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/model/EpicReference.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/model/inbound/EpicAppointmentDeserializer.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/model/inbound/StandardizedIdentifierDeserializer.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/model/outbound/StandardizedIdentifierSerializer.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/transform/EpicAppointmentTransformer.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicIdentifierServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/model/EpicAppointmentBundleTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/model/EpicAppointmentTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/model/EpicProviderReferenceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/model/EpicReferenceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/transform/EpicAppointmentTransformerTest.kt
  interop-ehr-epic/src/test/resources/ExampleSerializedEpicAppointment.json
  interop-ehr-epic/src/test/resources/ExampleSerializedEpicAppointmentList.json
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/IdentifierService.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/model/Appointment.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/model/Reference.kt
Due: ehr, ehr-epic

INT-902: Add multiple error Validation to refactor branch (#174)
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/ProfileValidator.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/ResourceFunctions.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/BaseRoninProfile.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/OncologyAppointment.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/OncologyCondition.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/OncologyObservation.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/OncologyPatient.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/OncologyPractitioner.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/OncologyPractitionerRole.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninLocation.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/ResourceFunctionsTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/OncologyAppointmentTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/OncologyConditionTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/OncologyObservationTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/OncologyPatientTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/OncologyPractitionerRoleTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/OncologyPractitionerTest.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninLocationTest.kt
Due: none

Int 911 create mrn fhir id service (#177)
  gradle/libs.versions.toml
  interop-ehr-epic/interop-ehr-epic.gradle.kts
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicPatientService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicPatientServiceTest.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/PatientService.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/outputs/GetFHIRIDResponse.kt
  interop-ehr/src/test/kotlin/com/projectronin/interop/ehr/outputs/GetFHIRIDResponseTest.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/util/Unlocalize.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/util/UnlocalizeTest.kt
Due: ehr, ehr-epic

Change EpicProviderAppointment service to use FHIR endpoint (#178)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicVendorFactory.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/apporchard/model/Appointment.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/apporchard/model/EpicAppointment.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/apporchard/model/GetAppointmentsResponse.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/model/EpicAppointment.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/model/EpicAppointmentBundle.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/model/EpicPatientParticipant.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/model/EpicPatientReference.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/model/EpicTextCodableConcept.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/model/inbound/EpicAppointmentDeserializer.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/model/outbound/EpicAppointmentSerializer.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicVendorFactoryTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/TestUtil.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/apporchard/model/AppointmentTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/apporchard/model/EpicAppointmentTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/model/EpicAppointmentBundleTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/model/EpicAppointmentTest.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/AppointmentService.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/factory/VendorFactory.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/outputs/FindPractitionerAppointmentsResponse.kt
  interop-ehr/src/test/kotlin/com/projectronin/interop/ehr/factory/EHRFactoryTest.kt
  interop-ehr/src/test/kotlin/com/projectronin/interop/ehr/outputs/FindPractitionerAppointmentsResponseTest.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/TenantServiceMappingUtils.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/model/EpicTenantDO.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/model/vendor/Epic.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/TenantServiceTest.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/model/TenantTest.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/model/vendor/EpicTest.kt
Due: tenant, ehr, ehr-epic

Rebase master into refactor (#182)
  gradle/libs.versions.toml
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicMessageService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicPagingService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicPatientService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/apporchard/model/SendMessageRequest.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/auth/EpicAuthenticationService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/client/EpicClient.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicConditionServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicMessageServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicObservationServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicPatientServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicPractitionerServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/TestUtil.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/apporchard/model/SendMessageRequestTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/auth/EpicAuthenticationServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/client/EpicClientTest.kt
  interop-ehr/interop-ehr.gradle.kts
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/util/HandleHttpStatusError.kt
  interop-ehr/src/test/kotlin/com/projectronin/interop/ehr/util/HandleHttpStatusErrorTest.kt
Due: ehr, ehr-epic

updates to make STU3 work, as well as adding new column to epic tenant. (#184)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicPagingService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentServiceTest.kt
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/ehr.db.changelog-3.0.0.yaml
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/ehr.db.changelog-master.yaml
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/tenant-epic/io_tenant_epic-03.yaml
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/EpicTenantDAO.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/binding/EpicTenantDOs.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/data/EpicTenantDAOTest.kt
  interop-tenant/src/test/resources/dbunit/epic-tenants/EpicTenants.yaml
  interop-tenant/src/test/resources/dbunit/epic-tenants/ExpectedEpicTenantsAfterInsert.yaml
  interop-tenant/src/test/resources/dbunit/epic-tenants/ExpectedEpicTenantsAfterUpdate.yaml
Due: tenant, ehr-epic

Update http codes to use new common function (#188)
  gradle/libs.versions.toml
  interop-ehr-epic/interop-ehr-epic.gradle.kts
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/auth/EpicAuthenticationService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/client/EpicClient.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/auth/EpicAuthenticationServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/client/EpicClientTest.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/util/HandleHttpStatusError.kt
  interop-ehr/src/test/kotlin/com/projectronin/interop/ehr/util/HandleHttpStatusErrorTest.kt
Due: ehr, ehr-epic

Int 942 update epic provider appointment service to batch api requests (#191)
  gradle/libs.versions.toml
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicPatientService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicPatientServiceTest.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/PatientService.kt
Due: ehr, ehr-epic

Use released versions (#195)
  gradle/libs.versions.toml
Due: none

Update KTOR / Mockk (#193)
  gradle/libs.versions.toml
Due: none

[INT-1022] Revert to using Epic's APIs (#198)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicIdentifierService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/apporchard/model/EpicAppointment.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/apporchard/model/GetPatientAppointmentsRequest.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/apporchard/model/ScheduleProviderReturnWithTime.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicIdentifierServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/apporchard/model/EpicAppointmentTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/apporchard/model/GetPatientAppointmentsRequestTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/apporchard/model/ScheduleProviderReturnWithTimeTest.kt
  interop-ehr-epic/src/test/resources/ExampleAppointmentBundle.json
Due: ehr-epic

[INT-1055] Allow identifiers instead of references for providers (#203)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentServiceTest.kt
Due: ehr-epic

Int 1048 create location service and epic implementation for loading by fhir ids (#201)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicLocationService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicLocationServiceTest.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/LocationService.kt
Due: ehr, ehr-epic

Default to true for including all appointment statuses (#204)
  gradle/libs.versions.toml
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/apporchard/model/GetPatientAppointmentsRequest.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/apporchard/model/GetProviderAppointmentRequest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/apporchard/model/GetPatientAppointmentsRequestTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/apporchard/model/GetProviderAppointmentRequestTest.kt
Due: ehr-epic

INT-885: Add department internal system to tenant config (#206)
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/ehr.db.changelog-3.0.1.yaml
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/ehr.db.changelog-master.yaml
  interop-ehr-liquibase/src/main/resources/ehr/db/changelog/tenant-epic/io_tenant_epic-04.yaml
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/EpicTenantDAO.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/binding/EpicTenantDOs.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/data/model/EpicTenantDO.kt
  interop-tenant/src/main/kotlin/com/projectronin/interop/tenant/config/model/vendor/Epic.kt
  interop-tenant/src/test/kotlin/com/projectronin/interop/tenant/config/data/EpicTenantDAOTest.kt
  interop-tenant/src/test/resources/dbunit/epic-tenants/EpicTenants.yaml
Due: tenant

INT-1060 support multiple category codes to find conditions (#205)
  gradle/libs.versions.toml
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicConditionService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicObservationService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicConditionServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicObservationServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/util/CodedEnumUtil.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/ConditionService.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/ObservationService.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/inputs/FHIRSearchToken.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/util/CodedEnumUtil.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/util/SearchTokenUtil.kt
  interop-ehr/src/test/kotlin/com/projectronin/interop/ehr/inputs/FHIRSearchTokenTest.kt
  interop-ehr/src/test/kotlin/com/projectronin/interop/ehr/util/SearchTokenUtilTest.kt
Due: ehr, ehr-epic

INT-884: Add Location Service to epic vendor factory (#207)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicVendorFactory.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicVendorFactoryTest.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/factory/VendorFactory.kt
Due: ehr, ehr-epic

INT-1076: Add MRN appointment lookup to simplify our current proxy flow (#208)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentServiceTest.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/AppointmentService.kt
Due: ehr, ehr-epic

Update RoninAppointment.kt (#211)
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninAppointment.kt
Due: none

INT-1063 provide name for epic contact locations (#212)
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninLocation.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninLocationTest.kt
Due: none

[INT-1066] Move Reference utilities to interop-FHIR (#210)
  gradle/libs.versions.toml
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/RoninLaboratoryResultObservation.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/observation/USCoreVitalSignsValidator.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/util/Localizers.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/util/ReferenceHelpers.kt
Due: none

INT 1076: Use a single API for getting appointments from Epic, allow use of MRN (#214)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicPatientService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicPatientServiceTest.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/AppointmentService.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/PatientService.kt
Due: ehr, ehr-epic

INT-1076: Force vendor-specific service to choose correct system (#217)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicPatientService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicPatientServiceTest.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/PatientService.kt
Due: ehr, ehr-epic

Int 962 epic service for calling medication (#216)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicMedicationService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicVendorFactory.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicMedicationServiceTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicVendorFactoryTest.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/MedicationService.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/factory/VendorFactory.kt
Due: ehr, ehr-epic

Clean up Location name validation and warning (#215)
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninLocation.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninLocationTest.kt
Due: none

INT-1088: Update Appointment status mapping for PSJ (#218)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentServiceTest.kt
Due: ehr-epic

Add missing Spring annotation to EpicMedicationService (#221)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicMedicationService.kt
Due: ehr-epic

Upgrade interop-common to 3.0.1 (#222)
  gradle/libs.versions.toml
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/auth/EpicAuthenticationService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/client/EpicClient.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentServiceTest.kt
Due: ehr-epic

Epic MedicationStatementService - STU3 API for 1 Patient.id (#220)
  gradle/libs.versions.toml
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicMedicationStatementService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicVendorFactory.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/apporchard/model/EpicAppointment.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicMedicationStatementTest.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicVendorFactoryTest.kt
  interop-ehr-epic/src/test/resources/ExampleMedicationStatement1.json
  interop-ehr-epic/src/test/resources/ExampleMedicationStatement2.json
  interop-ehr-epic/src/test/resources/ExampleMedicationStatement3.json
  interop-ehr-epic/src/test/resources/STU3BundleEmpty.json
  interop-ehr-epic/src/test/resources/STU3MedicationStatementBundle.json
  interop-ehr-epic/src/test/resources/STU3MedicationStatementBundleWithPaging.json
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/LocationService.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/MedicationStatementService.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/factory/VendorFactory.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/util/ResourceUtil.kt
Due: ehr, ehr-epic

INT-1094: Normalizing systems (#223)
  codecov.yml
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/code/SystemNormalizers.kt
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/util/Localizers.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/util/LocalizersTest.kt
Due: none

INT-1097: Add test for EpicVendorFactory to verify Spring can build it (#225)
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicVendorFactoryTest.kt
Due: ehr-epic

INT-1105: Switch to OkHttp engine (#236)
  gradle/libs.versions.toml
  interop-ehr-epic/interop-ehr-epic.gradle.kts
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/TestUtil.kt
  interop-ehr/interop-ehr.gradle.kts
  interop-tenant/interop-tenant.gradle.kts
Due: tenant, ehr, ehr-epic

INT-1120: Default to PST for Appointment time zone (#239)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentServiceTest.kt
Due: ehr-epic

INT-1116: Add Practitioner retrieval by FHIR ID (#241)
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicAppointmentService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicPagingService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicPatientService.kt
  interop-ehr-epic/src/main/kotlin/com/projectronin/interop/ehr/epic/EpicPractitionerService.kt
  interop-ehr-epic/src/test/kotlin/com/projectronin/interop/ehr/epic/EpicPractitionerServiceTest.kt
  interop-ehr/src/main/kotlin/com/projectronin/interop/ehr/PractitionerService.kt
Due: ehr, ehr-epic

Update USCore validation for Patient (#237)
  interop-fhir-ronin/src/main/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninPatient.kt
  interop-fhir-ronin/src/test/kotlin/com/projectronin/interop/fhir/ronin/resource/RoninPatientTest.kt
Due: none

Upgrade gradle plugin versions (#243)
  settings.gradle.kts
Due: none

Path conditions:
  tenant: any of: interop-tenant/
  ehr: any of: interop-ehr/
  transform: any of: interop-transform/
  ehr-epic: any of: interop-ehr-epic/
